.main-menu-ctrl
{
    position: absolute;
    left: 0;
    top: 0;
}

.apl--main-search--active .main-menu-ctrl
{
    z-index: 1;
}


.main-menu--inactive .mn-mha---ct
{
    display: none;
}

.main-menu
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: red;
}

.main-menu--active,
.main-menu--active .mn-mha---cr,
.main-menu--active .mn-mha---ct,
.main-menu--active .mn-mha---ct_cr
{
    width: 100%;
    height: 100%;
}

.main-menu--active
{
    box-sizing: border-box;
    padding-bottom: 48px;
}

.main-menu--active .mn-mha---ct
{
    position: relative;
    box-sizing: border-box;
    padding-right: 3rem;
    margin-top: 3rem;
}

.main-menu--active .mn-mha---ct::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -3rem;
    
    width: .5rem;
    height: 100%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.25+0,0+100 */
    background: -moz-linear-gradient(left, hsla(0,0%,0%,0.25) 0%, hsla(0,0%,0%,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0.25) 0%,hsla(0,0%,0%,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, hsla(0,0%,0%,0.25) 0%,hsla(0,0%,0%,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.main-menu--active .mn-mha---cr
{
    background-color: black;
    background-color: hsla(0, 0%, 0%, .75);
    
    cursor: pointer;
}

.main-menu--active .mn-mha---ct_cr
{
    background-color: white;
    overflow-y: auto;
    cursor: auto;
}

.apl--main-menu--active
{
    overflow: hidden;
}