/*------------------ Variables ------------------*/
.html
{
    --post-banner-vis--height: 10rem;
}





/*------------------ Visually Hidden ------------------*/
.visually-hidden,

/* Page */
.page .entry-nav,
.page .post-published-modified,
.page .published-post-author,
.page .comments-actions-snippet,
.page .comment-md,

/* Nav */
.entries---hr .page-nav,
.entry---hr .entry-nav,

/* Edit Action */
.edit-post-action .post-title---txt,

/* Comments */
.post-header-aside .comment-creation-ability,
.post-header-aside .comments-population--empty .comments-population,
.comment-creation-ability--disabled.comments-population--empty .comment-md,
.comments-population--empty .comments-empty-note
{
    position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;
}





/*------------------ Unlist ------------------*/
.unlist
{
    list-style: none;
    margin: 0;
    padding: 0;
}





/*------------------ Active Area (AA) ------------------*/
.active-area
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    min-width: var(--active-area--width--md);
    min-height: var(--active-area--width--md);
}





/*------------------ Post ------------------*/
.post a
{
    text-decoration: none;
}

.post a:hover
{
    text-decoration: underline;
}

.view--detail .main-post-title---a
{
    color: black;
}





/*------------------ Comments ------------------*/
.comments a
{
    text-decoration: none;
}

.comments a:hover
{
    text-decoration: underline;
}

.comments-heading---g
{
    font-size: 1.5rem;
}





/*------------ Juxtapose Post Title and Edit Action ------------*/
.main-post-title,
.edit-post-action
{
    display: inline-block;
    vertical-align: middle;
}





/*------------ Swap Author Name and Avatar ------------*/
.post-author---ct_cr
{
    display: inline-flex;
}

.author-name
{
    order: 1;
    margin-right: auto;
}

.author-avatar
{
    margin-right: var(--glabel--between--spacing);
}





/*------------ Juxtapose Post Published and Modified and Post Author ------------*/
.post-published-modified,
.published-post-author,
.apl-post-categories
{
    display: inline-block;
    vertical-align: middle;
}





/*------------ Post Published Date and Time Stamp ------------*/
.post-published-date-and-time-stamp
{
    padding-top: var(--component--spacing-y);
    padding-bottom: var(--component--spacing-y);
}

.author-name,
.author-avatar
{
    padding-top: var(--component--spacing-y);
    padding-bottom: var(--component--spacing-y);
}





.comment-md---cr
{
    padding-top: var(--component--spacing-y);
    padding-bottom: var(--component--spacing-y);
}