/*------------------ Variables ------------------*/
.applicator--themes
{
    /*------------ Level 3 - Specifics ------------*/
    
    --category--border: 1px solid var(--accent-color--pri);
    --category-item--spacing: calc( var(--content--spacing) / 2 );
    --category-item--spacing-x: calc( var(--content--spacing-x) / 2 );
    
    --post-published-date-and-time-stamp--border: 1px solid var(--color--transparent-black);
    --post-published-date-and-time-stamp--fg-color: var(--color--transparent-black);
    
    --note--fg-color: var(--color--transparent-black);
    --note-font-size: .875rem;
}





/*------------------ Visually Hidden ------------------*/
.visually-hidden,

/* Post */
.applicator--theme--post-published-date-and-time-stamp .post-published-glabel,
.applicator--theme--post-published-date-and-time-stamp .post-published-time-stamp-dtstamp,
.applicator--theme--post-published-date-and-time-stamp .post-published-date-and-time-stamp .comma---sep,
.applicator--theme--post-published-date-and-time-stamp .post-modified,
.applicator--theme--post-published-date-and-time-stamp .post-published-by-glabel,

.applicator--theme--post-published-date-and-time-stamp .post-categories-glabel
{
    position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;
}





/*------------------ Unlist ------------------*/
.unlist,
.applicator--theme--categories .post-categories
{
    list-style: none;
    margin: 0;
    padding: 0;
}





/*------------------ Active Area (AA) ------------------*/
.active-area,
.applicator--theme--categories .post-categories a,
.applicator--theme--comments-count-action .comments-count---txt
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    min-width: var(--active-area--width--md);
    min-height: var(--active-area--width--md);
}





/*------------------ Applicator Table Theme - Stroked ------------------*/
.applicator--theme--table--stroked
{
    --table-stroke--color--max: hsla( 0, 0%, 0%, .25 );
    --table-stroke--color--med: hsla( 0, 0%, 0%, .125 );
    --table-stroke--color--min: hsla( 0, 0%, 0%, .0625 );
    --table-line--md: 2px solid var(--table-stroke--color--med);
    --table-line--sm: 1px solid var(--table-stroke--color--min);
}

.applicator--theme--table--stroked .post-content tbody
{
    border: var(--table-line--md);
    border-left: 0;
    border-right: 0;
}

.applicator--theme--table--stroked .post-content tfoot
{
    border: var(--table-line--md);
    border-left: 0;
    border-right: 0;
}

/* Table Header */
.applicator--theme--table--stroked .post-content th
{
    border: 0;
    
    text-align: left;
    vertical-align: bottom;
}

.applicator--theme--table--stroked .post-content td
{
    border: var(--table-line--sm);
    
    border-right: 0;
    border-bottom: 0;
}

.applicator--theme--table--stroked .post-content td:first-child
{
    border-left: 0;
}

/* Table Footer */
.applicator--theme--table--stroked .post-content tfoot
{
    border-top: 0;
    border-color: var(--table-line--md);
}




/*------------------ Applicator Theme - Avatar - Circular ------------------*/
.applicator--theme--avatar--circular .author-avatar---a_l,
.applicator--theme--avatar--circular .commenter-avatar---a_l
{
    border-radius: 50%;
    overflow: hidden;
}





/*------------------ Applicator Theme - Note ------------------*/
.applicator--theme--note .note
{
    color: var(--note--fg-color);
    font-size: var(--note--font-size);
}





/*------------------ Applicator Theme - Categories ------------------*/
.applicator--theme--categories .apl-categories .post-categories
{
    padding-left: var(--category-item--spacing-x);
    padding-right: var(--category-item--spacing-x);
}

.applicator--theme--categories .apl-categories .post-categories li
{
    display: inline-block;
    vertical-align: middle;
    
    padding-left: calc( var(--content--spacing-x) / 2 );
    padding-right: calc( var(--content--spacing-x) / 2 );
    padding-top: var(--content--spacing-y);
    padding-bottom: var(--content--spacing-y);
}

.applicator--theme--categories .apl-categories a
{    
    padding-left: var(--content--spacing-x);
    padding-right: var(--content--spacing-x);
    
    border: var(--category--border);
}

.applicator--theme--categories .post-categories
{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}





/*------------------ Post Published Date and Time Stamp ------------------*/
.applicator--theme--post-published-date-and-time-stamp .post-published-date-stamp-dtstamp .txt
{
    display: block;
    
    text-align: center;
}

.applicator--theme--post-published-date-and-time-stamp .post-published-date-stamp-dtstamp .day---txt
{
    font-weight: bold;
}

.applicator--theme--post-published-date-and-time-stamp .post-published-date-stamp-dtstamp .month---txt
{
    text-transform: uppercase;
    font-size: .875rem;
}

.applicator--theme--post-published-date-and-time-stamp .post-published-date-stamp-dtstamp .year---txt
{
    font-size: .875rem;
}

.applicator--theme--post-published-date-and-time-stamp .post-pub-d-stamp-dtstamp---a
{
    color: var(--post-published-date-and-time-stamp--fg-color);
}

.applicator--theme--post-published-date-and-time-stamp .post-pub-d-stamp-dtstamp---a:hover
{
    text-decoration: none;
}

.applicator--theme--post-published-date-and-time-stamp .post-pub-d-stamp-dtstamp---a_l
{
    display: block;
    
    padding: .25em;
    
    line-height: 1;
    
    border: var(--post-published-date-and-time-stamp--border);
}





/*------------------ Entry Nav ------------------*/
.applicator--theme--entry-nav .entry-nav---grp
{
    display: flex;
    justify-content: space-between;
}

.applicator--theme--entry-nav .entry-navi
{
    flex: 1 50%;
}

.applicator--theme--entry-nav .next-entry-navi
{
    order: 1;
    
    text-align: right;
}

.applicator--theme--entry-nav .entry-nav .line
{
    display: block;
}

.applicator--theme--entry-nav .next-entry-navi .line
{
    text-align: right;
}





/*------------------ Edit Action ------------------*/
.applicator--theme--edit-action .edit-post-axn---a_l
{
    padding: var(--button--padding);
    min-width: var(--edit-post-action--min-width);
    
    font-size: .875rem;
    
    background-color: var(--edit-post-action--bg-color);
    color: var(--edit-post-action--fg-color);    
}





/*------------------ Comments Count Action ------------------*/
.applicator--theme--comments-count-action .comments-count-axn---l
{
    display: inline-flex;
    align-items: center;
}

.applicator--theme--comments-count-action .comments-count---txt
{
    order: 1;
    
    padding: calc( var(--content--spacing-y) / 3 ) calc( var(--content--spacing-x) / 1.5 );
    
    min-width: calc( var(--active-area--width--md) / 2 );
    min-height: calc( var(--active-area--width--md) / 2 );
    
    background-color: var(--accent-color--pri);
    color: var(--color--white);
}

.applicator--theme--comments-count-action .comment---txt
{
    margin-right: var(--glabel--between--spacing);;
}