/* ------------------ Variables ------------------ */
.html
{
    /* ------------ Level 3 - Specifics ------------ */
    
    --category--padding: .5em 1em;
    --category--min-height: 2.25rem;
    --category--border: 1px solid var(--accent-color--pri);
    --category-item--spacing: calc( var(--content--spacing) / 2 );
    --category-item--spacing-x: calc( var(--content--spacing-x) / 2 );
    
    --post-published-date-and-time-stamp--border: 1px solid var(--color--transparent-black);
    --post-published-date-and-time-stamp--fg-color: var(--color--transparent-black);
    
    --note--fg-color: var(--color--transparent-black);
    --note-font-size: .875rem;
    
    /* Edit Post Action */
    --edit-post-action--bg-color: var(--button--pri--bg-color);
    --edit-post-action--fg-color: var(--button--pri--fg-color);
    --edit-post-action--min-width: calc( var(--button--min-width) /2 );
    --edit-post-action--min-height: 2.25rem;
    --edit-post-action--padding: .5em 1em;
    
    /* Easy Access Nav - Main Nav - Colors */
    --easy-access-nav-func--main-nav--fg-color: var(--color--black);
    
    /* Sub Nav - Colors */
    --easy-access-nav-func--sub-nav--bg-color: var(--color--white);
    --easy-access-nav-func--sub-nav--fg-color: var(--color--black);
    
    /* Easy Access Nav - Sub Nav - Indicator - Colors */
    --easy-access-nav-func--navi--root--indicator: var(--black-eighth--color);
    
    --easy-access-nav-func--navi--current-ancestor--indicator: var(--black-fourth--color);
    --easy-access-nav-func--navi--branch--indicator: var(--black-eighth--color);
    
    /* Easy Access Nav - Sub Nav - Border Color */
    --easy-access-nav-func--sub-nav--border-color: var(--black-eighth--color);
    
    /* Easy Access Nav - Indicator - Dimensions */
    --easy-access-nav-func--indicator--height: .125rem;
    --easy-access-nav-func--indicator--width: .125rem;
}





/* ------------------ Visually Hidden ------------------ */
.visually-hidden,

/* Post */
.applicator--theme--post-published-date-and-time-stamp .post-published-glabel,
.applicator--theme--post-published-date-and-time-stamp .post-published-time-stamp-dtstamp,
.applicator--theme--post-published-date-and-time-stamp .post-published-date-and-time-stamp .comma---sep,
.applicator--theme--post-published-date-and-time-stamp .post-modified,
.applicator--theme--post-published-date-and-time-stamp .post-published-by-glabel,

.applicator--theme--post-published-date-and-time-stamp .post-categories-glabel,

.applicator--theme--entry-nav .colon---sep
{
    position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;
}





/* ------------------ Unlist ------------------ */
.unlist,
.applicator--theme--categories .post-categories
{
    list-style: none;
    margin: 0;
    padding: 0;
}





/* ------------------ Active Area (AA) ------------------ */
.active-area,
.applicator--theme--categories .post-categories a,
.applicator--theme--comments-count-action .comments-count---txt
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    min-width: var(--active-area--width--md);
    min-height: var(--active-area--width--md);
}





/* ------------------ Applicator Theme - Main Header ------------------ */
.applicator--theme--main-header .main-header---cr
{
    position: relative;
}

.applicator--theme--main-header.view--front .main-header---cr,
.applicator--theme--main-header.view--multisite-directory .main-header---cr
{
    min-height: 10rem;
}

.applicator--theme--main-header.view--inner .main-nav---cr
{
    padding-bottom: var(--component--spacing-y);
}

/* ------------ Web Product Main Info ------------ */
.applicator--theme--main-header .web-product-main-info
{
    position: relative;
    z-index: 1;
}

.applicator--theme--main-header.web-product-main-logo--enabled .wbp-main-info---ct_cr
{
    position: relative;
}


/* ------------ Main Nav ------------ */
.applicator--theme--main-header .main-nav
{
    position: relative;
    z-index: 1;
}

.applicator--theme--main-header .main-nav---cr
{
    background-color: transparent;
}

.applicator--theme--main-header.applicator--theme--main-nav .main-nav a
{
    color: white;
}

.applicator--theme--main-header .main-nav.sub-nav-func .children a,
.applicator--theme--main-header .main-nav.sub-nav-func .sub-menu a
{
    color: black;
}

.applicator--theme--main-header .main-nav---ct_cr > .menu-container > ul > li > .sub-nav-toggle .sub-nav-tog---b_l
{
    color: white;
}

.applicator--theme--main-header .widget-content---ct_cr > * > ul > li > .sub-nav-toggle .sub-nav-tog---b_l
{
    color: var(--sub-nav-func-branches--toggle-button--fg-color);
}

.applicator--theme--main-header .children .sub-nav-tog---b_l,
.applicator--theme--main-header .sub-menu .sub-nav-tog---b_l
{
    color: var(--sub-nav-func-branches--toggle-button--fg-color);
}

.applicator--theme--main-header.applicator--theme--main-nav .main-nav---ct_cr > .menu-container > ul
{
    justify-content: center;
}


/* ------------ Main Search ------------ */
.applicator--theme--main-header .main-search-func
{
    z-index: 1;
}


/* ------------ Web Product Main Media Banner ------------ */
.applicator--theme--main-header .wbp-main-media-banner---g
{
    position: relative;
    
    background-color: var(--image--bg-color);
    
    transform: scale( 1.1 );
}

.applicator--theme--main-header.view--inner .wbp-main-media-banner---g
{
    filter: blur( 2px );
}

.applicator--theme--main-header .wbp-main-media-banner---g::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.5+100 */
    background: -moz-linear-gradient(top, hsla(0,0%,0%,1) 0%, hsla(0,0%,0%,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, hsla(0,0%,0%,1) 0%,hsla(0,0%,0%,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, hsla(0,0%,0%,1) 0%,hsla(0,0%,0%,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
    
    opacity: .5;
    
    transition: var(--transition--generic);
    transition-property: opacity;
}

.applicator--theme--main-header.apl--main-search--active .wbp-main-media-banner---g::before
{
    opacity: .75;
}


/* ------------ Web Product Main Name, Description ------------ */
.applicator--theme--main-header.web-product-main-logo--disabled .web-product-main-name,
.applicator--theme--main-header.web-product-main-logo--disabled .web-product-main-description
{
    justify-content: center;
}


/* ------------ Media Banner ------------ */
.applicator--theme--main-header .web-product-main-media-banner
{
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

.applicator--theme--main-header .wbp-main-media-banner---g
{
    padding-bottom: 0;
    
    height: 100%;
    
    background-position: top;
}





/* ------------------ Applicator Table Theme - Stroked ------------------ */
.applicator--theme--table
{
    --table-stroke--color--max: hsla( 0, 0%, 0%, .25 );
    --table-stroke--color--med: hsla( 0, 0%, 0%, .125 );
    --table-stroke--color--min: hsla( 0, 0%, 0%, .0625 );
    --table-line--md: 2px solid var(--table-stroke--color--med);
    --table-line--sm: 1px solid var(--table-stroke--color--min);
}

.applicator--theme--table .post-content tbody
{
    border: var(--table-line--md);
    border-left: 0;
    border-right: 0;
}

.applicator--theme--table .post-content tfoot
{
    border: var(--table-line--md);
    border-left: 0;
    border-right: 0;
}

/* Table Header */
.applicator--theme--table .post-content th
{
    border: 0;
    
    text-align: left;
    vertical-align: bottom;
}

.applicator--theme--table .post-content td
{
    border: var(--table-line--sm);
    
    border-right: 0;
    border-bottom: 0;
}

.applicator--theme--table .post-content td:first-child
{
    border-left: 0;
}

/* Table Footer */
.applicator--theme--table .post-content tfoot
{
    border-top: 0;
    border-color: var(--table-line--md);
}




/* ------------------ Applicator Theme - Avatar ------------------ */
.applicator--theme--avatar .author-avatar---a_l,
.applicator--theme--avatar .commenter-avatar---a_l
{
    border-radius: 50%;
    overflow: hidden;
}





/* ------------------ Applicator Theme - Note ------------------ */
.applicator--theme--note .note
{
    color: var(--note--fg-color);
    font-size: var(--note--font-size);
}





/* ------------------ Applicator Theme - Categories ------------------ */
.applicator--theme--categories .apl-categories .post-categories
{
    padding-left: var(--category-item--spacing-x);
    padding-right: var(--category-item--spacing-x);
}

.applicator--theme--categories .apl-categories .post-categories li
{
    display: inline-block;
    vertical-align: middle;
    
    padding-left: calc( var(--content--spacing-x) / 2 );
    padding-right: calc( var(--content--spacing-x) / 2 );
    padding-top: var(--content--spacing-y);
    padding-bottom: var(--content--spacing-y);
}

.applicator--theme--categories .apl-categories a
{    
    padding: var(--category--padding);
    
    min-height: var(--category--min-height);
    
    border: var(--category--border);
}

.applicator--theme--categories .apl-categories .post-categories
{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}





/* ------------------ Post Published Date and Time Stamp ------------------ */
.applicator--theme--post-published-date-and-time-stamp .post-published-date-stamp-dtstamp .txt
{
    display: block;
    
    text-align: center;
}

.applicator--theme--post-published-date-and-time-stamp .post-published-date-stamp-dtstamp .day---txt
{
    font-weight: bold;
}

.applicator--theme--post-published-date-and-time-stamp .post-published-date-stamp-dtstamp .month---txt
{
    text-transform: uppercase;
    font-size: .875rem;
}

.applicator--theme--post-published-date-and-time-stamp .post-published-date-stamp-dtstamp .year---txt
{
    font-size: .875rem;
}

.applicator--theme--post-published-date-and-time-stamp .post-pub-d-stamp-dtstamp---a
{
    color: var(--post-published-date-and-time-stamp--fg-color);
}

.applicator--theme--post-published-date-and-time-stamp .post-pub-d-stamp-dtstamp---a:hover
{
    text-decoration: none;
}

.applicator--theme--post-published-date-and-time-stamp .post-pub-d-stamp-dtstamp---a_l
{
    display: block;
    
    padding: .25em;
    
    line-height: 1;
    
    border: var(--post-published-date-and-time-stamp--border);
}





/* ------------------ Entry Nav ------------------ */
.applicator--theme--entry-nav .entry-nav---grp
{
    display: flex;
    justify-content: space-between;
}

.applicator--theme--entry-nav .entry-navi
{
    flex: 1 50%;
}

.applicator--theme--entry-nav .next-entry-navi
{
    order: 1;
    
    text-align: right;
}

.applicator--theme--entry-nav .entry-nav .line
{
    display: block;
}

.applicator--theme--entry-nav .next-entry-navi .line
{
    text-align: right;
}

.applicator--theme--entry-nav a
{
    text-decoration: none;
}

.applicator--theme--entry-nav a:hover .value---line
{
    text-decoration: underline;
}

.applicator--theme--entry-nav .property---line
{
    color: gray;
    font-size: .875rem;
}




/* ------------------ Edit Action ------------------ */
.applicator--theme--edit-action .edit-post-axn---a_l
{
    padding: var(--edit-post-action--padding);
    
    min-width: var(--edit-post-action--min-width);
    min-height: var(--edit-post-action--min-height);
    
    font-size: .875rem;
    
    background-color: var(--edit-post-action--bg-color);
    color: var(--edit-post-action--fg-color);    
}





/* ------------------ Comments Count Action ------------------ */
.applicator--theme--comments-count-action .comments-count-axn---l
{
    display: inline-flex;
    align-items: center;
}

.applicator--theme--comments-count-action .comments-count---txt
{
    order: 1;
    
    padding: calc( var(--content--spacing-y) / 3 ) calc( var(--content--spacing-x) / 1.5 );
    
    min-width: calc( var(--active-area--width--md) / 2 );
    min-height: calc( var(--active-area--width--md) / 2 );
    
    background-color: var(--accent-color--pri);
    color: var(--color--white);
}

.apl--comments--inactive.applicator--theme--comments-count-action .comments-count---txt
{
    background-color: white;
    color: var(--links--fg-color);
}

.applicator--theme--comments-count-action .comment---txt,
.applicator--theme--comments-count-action .comments---txt
{
    margin-right: var(--glabel--between--spacing);;
}







/* ------------------ Comments ------------------ */
.applicator--theme--comments.applicator--comments .comments-toggle
{
    padding-left: var(--object--spacing-x);
    padding-right: var(--object--spacing-x);
    
    text-align: center;
}

.applicator--theme--comments.applicator--comments .comments-toggle---b_l
{
    background-color: var(--button--pri--bg-color);
    color: white;
}

.applicator--theme--comments.applicator--comments .show-hide---l
{
    text-decoration: none;
}

.applicator--theme--comments.applicator--comments .comments--active .comments-toggle---b_l
{
    background-color: transparent;
    color: var(--links--fg-color);
    
    border: 1px solid var(--color--panda-blue);
}











/*------------------ Easy Access Nav - Function ------------------*/
.applicator--theme--main-nav .main-nav---ct_cr > .menu-container > ul
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.applicator--theme--main-nav .main-nav---ct_cr > .menu-container > ul > li > a
{
    display: flex;
    justify-content: center;
}

.applicator--theme--main-nav .main-nav---ct_cr > .menu-container > ul > li > a > .main-navi---a_l
{
    justify-content: center;
}

.applicator--theme--main-nav .main-nav a
{
    color: var(--easy-access-nav-func--main-nav--fg-color);
    
    white-space: nowrap;
}

/* Sub Nav Toggle Button - Root */
.main-nav---ct_cr > .menu-container > ul > li > .sub-nav-toggle .sub-nav-tog---b_l
{
    color: var(--sub-nav-func-root--toggle-button--fg-color);
}

/* Sub Nav Toggle Button - Branches */
.children .sub-nav-tog---b_l,
.sub-menu .sub-nav-tog---b_l
{
    color: var(--sub-nav-func-branches--toggle-button--fg-color);
}

.widget-content---ct_cr > * > ul > li > .sub-nav-toggle .sub-nav-tog---b_l
{
    color: var(--sub-nav-func-branches--toggle-button--fg-color);
}

.main-nav .sub-nav--active
{
    z-index: 99;
}

.main-nav .page_item_has_children > .children,
.main-nav .menu-item-has-children > .sub-menu
{
    position: absolute;
    top: 100%;
    z-index: 99;
}

.main-nav .sub-nav-toggle:hover .icon--vector
{
    width: calc( .75rem + .1rem );
    height: calc( .75rem + .1rem );
}

/* Root Nav Item Indicator */
.applicator--theme--main-nav .main-nav---ct_cr > .menu-container > ul > li > a > .main-navi---a_l:hover
{
    position: relative;
}

/* Root Nav Item Indicator */
.applicator--theme--main-nav .main-nav---ct_cr > .menu-container > ul > li > a > .main-navi---a_l:hover::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: var(--easy-access-nav-func--indicator--height);
    
    background-color: var(--easy-access-nav-func--navi--root--indicator);
}

/* Root Nav Item - Current Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .current_page_item > a > .main-navi---a_l
{
    position: relative;
}

/* Root Nav Item -Current Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .current_page_item > a > .main-navi---a_l::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: var(--easy-access-nav-func--indicator--height);
    
    background-color: var(--easy-access-nav-func--navi--current-ancestor--indicator);
}

/* Root Nav Item - Current Ancestor Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .current_page_ancestor > a > .main-navi---a_l
{
    position: relative;
}

/* Root Nav Item - Current Ancestor Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .current_page_ancestor > a > .main-navi---a_l::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: var(--easy-access-nav-func--indicator--height);
    
    background-color: var(--easy-access-nav-func--navi--current-ancestor--indicator);
}

/* Branch Nav Item - Current Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .page_item_has_children > .children .current_page_item > a,
.main-nav .main-nav---ct_cr > .menu-container > ul > .menu-item-has-children > .sub-menu .current-menu-item > a
{
    position: relative;
}

/* Branch Nav Item - Current Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .page_item_has_children > .children .current_page_item > a::before,
.main-nav .main-nav---ct_cr > .menu-container > ul > .menu-item-has-children > .sub-menu .current-menu-item > a::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    
    width: var(--easy-access-nav-func--indicator--width);
    height: 100%;
    
    background-color: var(--accent-color--pri);
}

/* Branch Nav Item - Current Indicator - Hover */
.main-nav .main-nav---ct_cr > .menu-container > ul > .page_item_has_children > .children .current_page_item > a:hover::before,
.main-nav .main-nav---ct_cr > .menu-container > ul > .menu-item-has-children > .sub-menu .current-menu-item > a:hover::before
{
    background-color: var(--accent-color--pri);
}

/* Branch Nav Item Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .page_item_has_children > .children a:hover,
.main-nav .main-nav---ct_cr > .menu-container > ul > .menu-item-has-children > .sub-menu a:hover
{
    position: relative;
}

/* Branch Nav Item Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .page_item_has_children > .children a:hover::before,
.main-nav .main-nav---ct_cr > .menu-container > ul > .menu-item-has-children > .sub-menu a:hover::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    
    width: var(--easy-access-nav-func--indicator--width);
    height: 100%;
    
    background-color: var(--easy-access-nav-func--navi--branch--indicator);
}

/* Branch Nav Item - Current Indicator */
.main-nav .main-nav---ct_cr > .menu-container > ul > .page_item.current_page_item > a > .main-navi---a_l::before,
.main-nav .main-nav---ct_cr > .menu-container > ul > .menu-item.current-menu-item > a > .main-navi---a_l::before
{
    background-color: var(--accent-color--pri);
}

/* Branch Nav Item */
.main-nav .page_item_has_children > .children > .page_item,
.main-nav .menu-item-has-children > .sub-menu > .menu-item
{
    padding-left: initial;
    
    background-color: var(--easy-access-nav-func--sub-nav--bg-color);
}

/* Sub-Menu */
.main-nav .children,
.main-nav .sub-menu
{   
    /* Specific width */
    max-width: 30rem;
    min-width: 100%;
}

/* Sub-Menu of Nav Item */
.main-nav .page_item_has_children .children,
.main-nav .menu-item-has-children .sub-menu
{
    transform: translate( .5rem, -.5rem );
}

/* Root Sub-Menu */
.main-nav .main-nav---ct_cr > .menu-container > ul > .page_item_has_children > .children,
.main-nav .main-nav---ct_cr > .menu-container > ul > .menu-item-has-children > .sub-menu
{
    transform: translate( 0, -.5rem );
}

.main-nav .page_item_has_children > .children > .page_item > a,
.main-nav .menu-item-has-children > .sub-menu > .menu-item > a
{
    border: 1px solid var(--easy-access-nav-func--sub-nav--border-color);
    border-top: 0;
    border-bottom: 0;
}

.main-nav .page_item_has_children > .children > .page_item:first-child > a,
.main-nav .menu-item-has-children > .sub-menu > .menu-item:first-child > a
{
    border: 1px solid var(--easy-access-nav-func--sub-nav--border-color);
}

.main-nav .page_item_has_children > .children > .page_item:first-child.sub-nav--inactive > a,
.main-nav .menu-item-has-children > .sub-menu > .menu-item:first-child.sub-nav--inactive > a
{
    border-bottom: 0;
}

.main-nav .page_item_has_children > .children > .page_item:last-child > a,
.main-nav .menu-item-has-children > .sub-menu > .menu-item:last-child > a
{
    border: 1px solid var(--easy-access-nav-func--sub-nav--border-color);
    border-top: 0;
}

.main-nav .page_item_has_children > .children > .page_item:only-child > a,
.main-nav .menu-item-has-children > .sub-menu > .menu-item:only-child > a
{
    border: 1px solid var(--easy-access-nav-func--sub-nav--border-color);
}

.main-nav .page_item_has_children > .children > .page_item.current_page_item > a,
.main-nav .menu-item-has-children > .sub-menu > .menu-item.current-menu-item > a
{
    border-left-color: var(--accent-color--pri);
}