/*------------------ Visually Hidden ------------------*/
.go-ct-nav---h,
.wbp-main-info---h,
.search-term-crt---h,
.search-term-crt-search-flabel,
.search-form-axns---h,
.main-hr-aside---h,
.main-ct-hr-aside---h,
.main-ct-aside---h,
.main-fr-aside---h,
.entry-md---h,
.entries---h,
.entry---h,
.post-hr-as-aside---h,
.post-meta---h,
.post-pub-mod---h,
.post-pub---h,
.post-pub-d-t-stamp---h,
.post-mod---h,
.post-mod-d-t-stamp---h,
.published-post-author---h,
.post-author---h,
.post-categories---h,
.categories---h,
.post-tags---h,
.tags---h,
.comments-axns-snip---h,
.comments-population---h,
.comment-crt-ability---h,
.post-content---h,
.go-start-nav---h,
.comment-md---h,
.comment-hr-as-aside---h,
.comment-meta---h,
.comment-pub---h,
.comment-pub-d-t-stamp---h,
.published-com-commenter---h,
.commenter---h,
.comment-crt-hd---h,
.signed-in-acct---h,
.post-excerpt---h,
.sub-post-content---h,
.search---h
{
    position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;
}





.html
{
    height: 100%;
}

.body
{
    min-height: 100%;
}






/*------------------ Clearfix ------------------*/
/* Due to floating images */
.clearfix:before,
.clearfix:after,

.post---ct_cr:before,
.post---ct_cr:after
{
    content: " ";
    display: table;
}

.post---ct_cr:after
{
    clear: both;
}





/*------------------ WordPress Required Selectors ------------------*/
/* To pass WP Theme Check */
.wp-caption-text,
.sticky,
.screen-reader-text,
.gallery-caption,
.bypostauthor,
.aligncenter
{}





/*------------------ Resets ------------------*/
abbr[title]
{
    text-decoration: none;
}

abbr[title]:hover
{
    border-bottom: 0;
}

label[for]:hover
{
    cursor: pointer;
}





/*------------------ Icons ------------------*/
.icon--vector,
.icon--raster
{
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    fill: currentColor;
}

.svg .icon--raster,
.no-svg .icon--vector
{
    display: none;
}





/*------------------ Viewport Width: 560 ------------------*/

@media only screen and ( min-width: 35em )
{

    .post-content---ct_cr > .alignleft
    {
        float: left;
    }

    .post-content---ct_cr > .alignright
    {
        float: right;
    }

}