/*
• Legend
cn: constructor
cp: component
hr: header
cr: container
ct: content
fr: footer

• Hide headings, labels 
• Reset lists
• Include Theme Check required styles
• Image width limit
*/


/* ------------------------- Visually Hidden ------------------------- */
/* For Accessibility */

.visuallyhidden,

.main-nav--h,
.search--h,
legend,
.search-term--label,
.main-content--h--pred-l,

.home .main-content--h--subj-l,
.page .main-content--h--subj-l,

.main-header-aside--h,
.main-footer-aside--h,

.widget_nav_menu .widget--h,

/* Go to Content */
.dom--unready .go-content,
.go-content--inactive,

/* Sub-Nav */
.sub-nav-toggle--a-l,

.nav--h,
.axns--h,

.entry.attachment .post-navigation .screen-reader-text
{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ------------------------- Visually Hidden ------------------------- */
/* As used by WordPress Twenty Seventeen Theme */
/*
.wp--visuallyhidden
{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}
*/



/* ------------------------- Clearfix ------------------------- */
.clearfix:before,
.clearfix:after,

.entry--ct-cr:before,
.entry--ct-cr:after
{
    content: " ";
    display: table;
}

.entry--ct-cr:after
{
    clear: both;
}


.svg-fallback
{
    display: none;
}

.sub-nav-toggle--a
{
    color: black;
}

.icon--vector
{
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
}


/* ------------------------- WordPress Required Selectors ------------------------- */
.wp-caption-text,
.sticky,
.screen-reader-text,
.gallery-caption,
.bypostauthor,
.alignright,
.alignleft,
.aligncenter
{

}


/* ------------------------- Responsive Image ------------------------- */
img
{
    max-width: 100%;
    height: auto;
}


/* ------------------------- Image Alignments ------------------------- */
.alignleft,
.alignright
{
    display: inline;
}

.aligncenter
{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ------------------------- Image Captions ------------------------- */
.wp-caption
{
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"]
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ------------------------- Corrections ------------------------- */
.entry--h
{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


/* ------------------------- Sub-Navigations ------------------------- */

.dom--unready .main-nav--ct > ul > .page_item_has_children > .children,
.dom--unready .main-nav--ct > ul > .menu-item-has-children > .sub-menu,

.dom--unready .widget_nav_menu .widget--cr > div > ul > .page_item_has_children > .children,
.dom--unready .widget_nav_menu .widget--cr > div > ul > .menu-item-has-children > .sub-menu,

.sub-nav--inactive > .children,
.sub-nav--inactive > .sub-menu
{
    display: none;
}

.sub-nav--active > .children,
.sub-nav--active > .sub-menu
{
    display: block;
}

/* Layout */
.page_item_has_children > a,
.menu-item-has-children > a,
.page_item_has_children > .sub-nav-toggle,
.menu-item-has-children > .sub-nav-toggle
{
    display: inline-block;
    vertical-align: middle;
}

.page_item > .sub-nav-toggle .arrow--icon,
.menu-item > .sub-nav-toggle .arrow--icon
{
    transition: all 0.2s ease-in-out;
}

.sub-nav--active > .sub-nav-toggle .arrow--icon
{
    transform: rotate( 180deg );
}

.sub-nav-toggle--a
{
    padding: 0;
    margin: 0;
    border: 0;
    
    min-width: 2rem;
    min-height: 2rem;
    
    background-color: transparent;
}





/* ------------------------- Viewport Width: 560 ------------------------- */
@media only screen and (min-width: 35em)
{

    img.alignleft
    {
        float: left;
    }

    img.alignright
    {
        float: right;
    }
    
}


/* ------------------------- Constructor - Component Color Coding ------------------------- */
/*
.cn,
.cp
{
    margin: 1rem;
    border: 2px solid black;
}

.cn
{
    border-color: blue;
}

.cp
{
    border-color: red;
}

[data-name]::before
{
    content: attr( data-name );
    display: block;
    padding: .25rem .5rem;
    
    background-color: black;
    color: white;
    
    font-size: .75rem;
}

.cn[data-name]::before
{
    
    background-color: blue;
}

.cp[data-name]::before
{
    
    background-color: red;
}
*/