/* Mobile First!!! */

/* ------------------------- Visually Hidden */

/* Headings */
.entry-md---h,
.entries---h,
.entry---h,
.page-nav---h,
.entry-nav---h,
.error404 .main-ct---h,
.crumbs-nav---h,
.post-admin-axns---h,

/* Go to Content Nav */
.go-ct-nav---h,
.go-content-nav--inactive,

/* Go to Start Nav */
.go-start-nav---h,
.go-start-nav-func .go-start-navi .word,

/* Main Nav - Main Header Aside */
.main-hr-as---h,
.main-nav---h,
.main-hr-as---h,

/*  Menu | Main Nav - Main Header Aside */
.main-menu-ctrl---h,
.main-menu-tog---b_l .show-hide-main-menu---word,

/* Sub-Nav | Main Nav | Widget > Custom Menu */
.sub-nav-func .sub-nav-toggle .show-hide-sub-nav---word,

/* Search */
.search---h,
.search-term-crt---h,
.search-form-axns---h,
.search-term-creation-label---obj,

/* Arbitrary Nav */
.main-search-ctrl---h,
.main-search-tog---b_l .show-hide-main-search---word,
.main-search-func .search-submit-axn---b_l .search---word,
.main-search-func .search-reset-axn---b_l .reset---word,

/* Web Product Info */
.apl--main-search--active .wbp-name,
.apl--main-search--active .wbp-logo,
.apl--main-search--active .wbp-desc,
.wbp-name-desc--disabled .wbp-name,
.wbp-name-desc--disabled .wbp-desc
{position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;}





html
{
    /* Typography */
    font-family: 'Noto Sans', sans-serif;
    text-rendering: geometricPrecision;
}





/* ------------------------- Highlight
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
 */



/* ------------------------- Forms, Active Objects ------------------------- */
.input--text,
.input--text[type="search"],
.form--a,
.sub-nav-toggle--a,
.main-nav--header-aside--menu-toggle--a
{
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
    border: 0;
    
    background-color: transparent;
}

/* Full-width */
.widget_search .search-term--input--text,
.widget_search .search-form-submit--a,
.widget_search .search-form-reset--a,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.comment-submit--a,
.commenter-comment--input--text
{
    width: 100%;
}

/* Minimum height of the active area */
.applicator--sub-nav .sub-nav-toggle--a-l,

.main-search-func .main-search-toggle--a-l,
.main-search-func .search-form-submit--a-l,
.main-search-func .search-form-reset--a-l,
.main-search-func .search-term--input--text,

.widget_search .search-term--input--text,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.comment-submit--a,

.main-nav--header-aside--menu-toggle--a-l
{
    min-width: 3rem;
    min-height: 3rem;
}


/* ------------------------- UI Template: Buttons ------------------------- */
.applicator--sub-nav .sub-nav-toggle--a-l,

.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.main-nav--header-aside--menu-toggle--a-l
{
    display: flex;
    align-items: center;
}

/* x Center */
.applicator--sub-nav .sub-nav-toggle--a-l,

.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.main-nav--header-aside--menu-toggle--a-l
{
    justify-content: center;
}





/* ------------------------- Anchors ------------------------- */

/* Reset */
.wbp-name--a,
.post---ct_cr a,
.entry-title--a
{
    text-decoration: none;
}

.post---ct_cr a
{
    box-shadow: inset 0 -1px 0 black;
    transition: color 160ms ease-in-out, box-shadow 160ms ease-in-out;
}

.post---ct_cr a:hover
{
    box-shadow: inset 0 0 0 hsla(0, 0%, 0%, 0), 0 2px 0 hsla(0, 0%, 0%, 1);
}






/* ------------------------- Widget Search ------------------------- */
.widget_search .search-term--input--text,
.commenter-comment--input--text
{
    border: 1px solid black;
    border-color: hsla(0, 0%, 0%, .5);
}


.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,
.comment-submit--a
{
    color: white;
}

.widget_search .search-term--input--text,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.commenter-comment--input--text,
.comment-submit--a
{
    border-radius: .125rem;
}

/* ------------------------- Input Text Padding ------------------------- */
.commenter-comment--input--text
{
    min-height: 6rem;
    line-height: 1.25;
}










/* ------------------------- Author ------------------------- */
.comment-author--l
{
    display: flex;
    align-items: center;
}

.comment-author--pred-l
{
    margin-right: .5rem;
}

.author-name--author-avatar--l
{
    display: inline-flex;
    align-items: center;
}

.author-name--l
{
    order: 2
}

.author-avatar--img
{
    order: 1;
    
    margin-right: .25rem;
    
    width: 2rem;
    height: 2rem;
    
    border-radius: 50%;
    overflow: hidden;
}




/* ------------------------- Spacing | Dimensions ------------------------- */

.widget_search .search-form-submit--btn,
.widget_search .search-form-reset--btn,

.commenter-comment--input-text,
.form-submit
{
    padding: 1rem;
    margin-top: -1rem;
}

.widget_search .search-term--input-text
{
    padding: 1rem;
}


.widget_search .search-term--input--text,
.commenter-comment--input--text
{
    padding: 0 .5rem;
}

.commenter-comment--input--text
{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* Smaller icons */
.main-nav--header-aside--menu-toggle .dismiss-icon
{
    width: .75rem;
    height: .75rem;
}





/* ------------------------- Color Scheme ------------------------- */
/*
$white: #fff;
$black: #222;
$gray: #808080;
$superhero-blue: #00aaff;
$chikka-orange: #ff7f00;
$record-red: #e53a2e;
$go-green: #12b32d;
*/

.widget_search .search-form-submit--a-l,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,
.comment-submit--a,



.entry-title--a
{
    color: #00aaff;
}

.wbp-name--cr,
.wbp-desc--cr
{
    color: white;
    color: hsla(0, 100%, 100%, .75);
}

.main-search-func .main-search-toggle--a,
.main-search-func .search-form-submit--a,
.main-search-func .search-form-reset--a,
.main-search-func .search-term--input--text,

.wbp-name--a,
.wbp-desc---a,

.main-nav--header-aside--menu-toggle--a-l
{
    color: white;
}




















/* ------------------------- Article ------------------------- */
.applicator--article .entry-timestamp--time-l,
.applicator--article .entry-edit--a-l
{
   border-radius: .125rem; 
}

.applicator--article .go-comments--a--count
{
   border-radius: .25rem; 
}

.applicator--article .entry-title
{
    margin-top: auto;
    margin-bottom: auto;
}

.applicator--article .post-edit-link,
.applicator--article .entry-timestamp--a,
.applicator--article .go-comments--a
{
    text-decoration: none;
}

.applicator--article .post-edit-link
{
    display: inline-block;
}

.applicator--article .entry-edit--a-l
{
    box-sizing: border-box;
    display: inline-block;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: .25rem .5rem;
    min-width: 3rem;
    min-height: 1.5rem;
    
    text-align: center;
    
    background-color: black;
    color: white;
    
    text-transform: uppercase;
    font-size: .75rem;
}

.applicator--article .entry-timestamp--time-l
{
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    padding: .5rem;
    width: 4rem;
    height: 5rem;
    
    color: black;
    
    line-height: 1;
    
    border: 1px solid black;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l,
.applicator--article .entry-timestamp--time-l .timestamp-month--l,
.applicator--article .entry-timestamp--time-l .timestamp-year--l
{
    width: 100%;
    text-align: center;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l
{
    font-size: 2.25rem;
}
.applicator--article .entry-timestamp--time-l .timestamp-month--l,
.applicator--article .entry-timestamp--time-l .timestamp-year--l
{
    font-size: .75rem;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l
{
    font-weight: bold;
}

.applicator--article .entry-timestamp--time-l .timestamp-month--l
{
    font-weight: bold;
    text-transform: uppercase;
}

.applicator--article .go-comments--a--count
{
    box-sizing: border-box;
    
    position: relative;
    
    display: block;
    padding: .25rem;
    margin-bottom: .5rem;
    min-width: 2rem;
    min-height: 1rem;
    
    text-align: center;
    
    background-color: black;
    color: white;
    
    font-weight: bold;
    font-size: .75rem;
    
    border-bottom-left-radius: 0;
}

.applicator--article .go-comments--a--count::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    
    /* Triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .5rem .5rem 0 0;
    border-color: black transparent transparent transparent;
}

.applicator--article .entry-title--a-l
{
    display: inline-block;
    
    color: black;
    
    font-size: 1.5rem;
}

.applicator--article .post---hr_cr
{
    position: relative;
    padding-right: 4rem;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.applicator--article .pub-timestamp,
.applicator--article .entry-header .comments-snippet
{
    position: absolute;
    right: 0;
    top: 0;
}

.applicator--article .entry-header .comments-snippet
{
    margin-top: 5rem;
    padding-top: .5rem;
    
    width: 4rem;
}

.applicator--article .entry-header .comments-snippet--cr
{
    position: absolute;
}

.applicator--article .entry-meta
{
    width: 100%;
}





/* ------------------------- HTML */
.apl--go-content-nav--active,
.apl--main-menu--active
{
    overflow: hidden;
}





/* ------------------------- Text Spacing */
.go-ct-navi---a_l > .word,
.go-start-navi---a_l > .word
{
    margin-left: .15em;
    margin-right: .15em;
}

.go-ct-navi---a_l > .word:first-child,
.go-start-navi---a_l > .word:first-child
{
    margin-left: 0;
}

.go-ct-navi---a_l > .word:last-child,
.go-start-navi---a_l > .word:last-child
{
    margin-right: 0;
}





/* ------------------------- Masthead */
.main-header
{
    position: relative;
}

.main-header---cr
{
    min-height: 3rem;
    
    background-color: #00aaff;
}





/* ------------------------- Web Product Info */
/*
.wbp-info---cr
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    margin-right: 1rem;
    
    height: 3rem;
    
    overflow: hidden;
}
*/

.wbp-info---cr
{
    min-height: 3rem;
}

.wbp-logo--enabled .wbp-info---cr
{
    margin-left: 1rem;
}

.apl--applicator--main-menu.main-header-aside--enabled .wbp-info---cr
{
    margin-left: 3rem;
}

.apl--applicator--main-search .wbp-info---cr
{
    margin-right: 3rem;
}

.wbp-logo--enabled .wbp-info---cr
{
    position: relative;
}

.wbp-name-desc--enabled.wbp-logo--enabled .wbp-name,
.wbp-name-desc--enabled.wbp-logo--enabled .wbp-desc
{
    box-sizing: border-box;
    
    padding-left: 2.75rem;
}

/* Text Truncate */
.wbp-name--h,
.wbp-desc---g
{
    max-width: 100%;
}

.wbp-name---a_l,
.wbp-desc---a_l
{
    box-sizing: border-box;
    
    display: block;
    
    padding-left: 1rem;
    padding-right: 1rem;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.apl--applicator--main-menu.main-header-aside--enabled .wbp-name---a_l,
.apl--applicator--main-menu.main-header-aside--enabled .wbp-desc---a_l,
.wbp-logo--enabled .wbp-name---a_l,
.wbp-logo--enabled .wbp-desc---a_l
{
    padding-left: 0;
}

.apl--applicator--main-search .wbp-name---a_l,
.apl--applicator--main-search .wbp-desc---a_l
{
    padding-right: 0;
}






/* ------------------------- Web Product Name */
.wbp-name--h
{
    /* Reset */
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    
    font-size: 1.125rem;
}

.wbp-name
{
    display: flex;
    
    max-width: 100%;
    
    transform: translateY( .25rem );
}

.wbp-desc--empty .wbp-name
{
    align-items: center;
    height: 3rem;
    transform: translateY( 0 );
}

.wbp-name---a
{
    color: white;
    
    text-decoration: none;
}

/*
.wbp-desc--empty .wbp-name---a_l
{
    display: inline-block;
    
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    max-width: 100%;
    
    vertical-align: middle;
}

.apl--applicator--main-menu.wbp-desc--empty .wbp-name---a_l
{
    padding-left: 0;
    padding-right: 0;
}
*/





/* ------------------------- Web Product Description */
/*
.wbp-desc
{
    margin-top: -.5rem;
    width: 100%;
}
*/

.wbp-desc
{
    display: flex;
    
    max-width: 100%;
    
    transform: translateY( .125rem );
}

.wbp-desc---a
{
    text-decoration: none;
}

.wbp-desc---a_l
{
    color: hsla( 100, 100%, 100%, .75 );
    font-size: .75rem;
}





/* ------------------------- Web Product Logo  */
.wbp-logo
{
    position: absolute;
    top: 50%;
    
    margin-top: -1.125rem;
    
    height: 2.25rem;
    
    z-index: 1;
}

.custom-logo
{
    width: auto;
    height: 100%;
    max-width: none;
}





.wbp-media-banner--cr
{
    position: fixed;
    left: 0;
    top: 0;
    
    height: 100vh;
    
    background-color: white;
}

.wp-custom-header
{
    height: 100%;
}

.wp-custom-header img
{
    width: auto;
    height: 100%;
    
    max-width: none;
    
    object-fit: cover;
}





/* ------------------------- Copyright Info */
.wbp-copyright
{
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
    
    min-height: 3rem;
}

.wbp-copyright---g_l
{
    text-align: center;
    
    font-size: .75rem;
}

.wbp-copyright--name---a,
.wbp-copyright---g_l
{
    color: gray;
    color: hsla(0, 0%, 0%, .5);
}

.wbp-copyright--name---a
{
    text-decoration: none;
}

.wbp-copyright--name---word
{
    font-weight: bold;
}

.wbp-copyright--tm---line
{
    white-space: nowrap;
}

.apl--go-start-nav--active .wbp-copyright
{
    padding-left: 3rem;
    padding-right: 3rem;
}





/* ------------------------- Go to Content Nav - Style */
.go-ct-navi---a,
.go-ct-navi---a_l
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
}

.go-ct-navi---a
{
    text-decoration: none;
}

.go-ct-navi---a_l
{
    box-sizing: border-box;
    
    padding: .5rem .75rem;
}





/* ------------------------- Go to Content Nav - Function */
.apl--applicator--go-content-nav.dom--unready .go-content-nav
{
    display: none;
}

.go-content-nav-func
{
    position: fixed;
    left: 0;
    top: 0;
    
    width: 100%;
}

.go-content-nav-func,
.go-content-nav-func .go-ct-nav---cr,
.go-content-nav-func .go-ct-nav---ct,
.go-content-nav-func .go-ct-nav---ct_cr
{
    height: 100%;
}

.go-content-nav-func .go-ct-nav---cr
{
    background-color: white;
    background-color: hsla(0, 100%, 100%, .75);
}

.go-content-nav-func .go-content-navi
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
}

.go-content-nav-func .go-ct-navi---a
{
    box-sizing: border-box;
    
    padding: .25rem;
    
    text-decoration: none;
    
    color: white;
}

.go-content-nav-func .go-ct-navi---a_l
{
    min-height: 2.25rem;
    
    background-color: #00aaff;
    border-radius: .25rem;
}

.go-content-nav--inactive
{
    opacity: 0;
    z-index: -1;
}

.go-content-nav--inactive .go-ct-nav---cr
{
    background-color: transparent;
}

.go-content-nav--active
{
    opacity: 1;
    z-index: 1;
}




/* ------------------------- Go to Start Nav - Style */
.go-start-navi---a,
.go-start-navi---a_l
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
    
    text-decoration: none;
}

.go-start-navi---a_l
{
    box-sizing: border-box;
    
    padding: .5rem .75rem;
}





/* ------------------------- Go to Start Nav - Function */
.apl--applicator--go-start-nav.dom--unready .go-start-nav
{
    display: none;
}

.go-start-nav-func
{
    position: fixed;
    right: 0;
    bottom: 0;
}

.go-start-nav-func .go-start-navi
{   
    transition: transform .2s ease-in-out;
}

.go-start-nav-func .go-start-navi---a
{   
    color: black;
}

.go-start-nav--active .go-start-navi
{
    transform: translateY( 0 );
}


.apl--applicator--go-start-nav.dom--unready .go-start-navi,
.go-start-nav--inactive .go-start-navi
{
    transform: translateY( 100% );
}

.go-start-nav--active
{
    z-index: 1;
}





/* ------------------------- Main Menu - Style */
.main-hr-as---ct_cr
{
    background-color: white;
}





/* ------------------------- Main Menu - Function */

.apl--applicator--main-menu.dom--unready .main-header-aside
{
    display: none;
}

.main-menu--active
{
    -webkit-tap-highlight-color: transparent;
}

.main-menu-func,
.main-menu-func .main-hr-as---cr,
.main-menu-func .main-hr-as---ct,
.main-menu-func .main-hr-as---ct_cr
{
    height: 100%;
}

.main-menu-func .main-hr-as---ct
{
    box-sizing: border-box;
    
    position: relative;
    
    margin-right: 3rem;
    padding-bottom: 3rem;
    
    width: auto;
    
    background-color: white;
    
    cursor: initial;
}

.main-menu-func .main-hr-as---ct_cr
{
    box-sizing: border-box;
    
    margin-top: 3rem;
    
    overflow-y: auto;
}

.main-menu-ctrl
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.main-menu--inactive .main-hr-as---ct
{
    display: none;
}

.main-menu--active
{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    
    width: 100%;
    
    background-color: black;
    background-color: hsla(0, 0%, 0%, .75);
    
    cursor: pointer;
}

.main-menu--active .main-menu-ctrl
{
    width: 100%;
}

.main-menu--active .main-menu-ctrl---cr
{
    margin-right: 3rem;
    
    background-color: white;
    
    cursor: initial;
}

.main-menu--active .main-menu-tog---b_l
{
    color: black;
}

/* Shadow Gradient */
.main-menu-func .main-hr-as---ct_cr::before
{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    
    width: .5rem;
    height: 100%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.25+0,0+100 */
    background: -moz-linear-gradient(left, hsla(0,0%,0%,0.25) 0%, hsla(0,0%,0%,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0.25) 0%,hsla(0,0%,0%,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, hsla(0,0%,0%,0.25) 0%,hsla(0,0%,0%,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.main-menu-tog---b
{
    /* Reset */
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}

.main-menu-tog---b,
.main-menu-tog---b_l
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
}

.main-menu-toggle .icon
{
    pointer-events: none;
}

.main-menu-toggle .dismiss-icon
{
    width: .75rem;
    height: .75rem;
}

.main-menu-tog---b_l
{
    color: white;
}






/* ------------------------- WordPress Admin Bar */
.wp-admin-bar--enabled
{
    margin-top: auto !important;
}

/* WP Admin Bar - Narrow */
.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .wbp---cr,
.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .main-menu--active
{
    margin-top: 46px;
}

.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .main-menu-func .main-hr-as---ct
{
    padding-bottom: 46px;
}

/* WP Admin Bar - Wide */
.wp-admin-bar--enabled.vp--wp-admin-bar--wide .wbp---cr,
.wp-admin-bar--enabled.vp--wp-admin-bar--wide .main-menu--active
{
    margin-top: 32px;
}

.wp-admin-bar--enabled.vp--wp-admin-bar--wide .main-menu-func .main-hr-as---ct
{
    padding-bottom: 32px;
}

.apl--go-content-nav--active #wpadminbar
{
    z-index: 0;
}





/* ------------------------- Search - Style > Nature */

.search-cp .input-text,
.search-cp .b
{
    /* Reset */
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.search-cp .input-text,
.search-cp .b,
.search-cp .b_l
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
    
    width: 100%;
}

.search-cp .b_l
{
    padding: .5rem 1rem;
}

.search-term-creation-label---obj,
.search-term-creation-input---obj
{
    display: block;
}





/* ------------------------- Search - Style > Decorations */
.search-cp .input-text
{
    padding: 0 .5rem;
    
    border: 1px solid black;
    border-color: hsla(0, 0%, 0%, .5);
}

.search-cp .search-submit-axn---b_l
{
    background-color: #00aaff;
    color: white;
}

.search-cp .search-reset-axn---b_l
{
    border: 2px solid black;
    border-color: hsla(0, 0%, 0%, .25);
    
    color: black;
    color: hsla(0, 0%, 0%, .5);
}

.search-cp .input-text,
.search-cp .b_l
{   
    border-radius: .125rem;
}

.main-header---cr > .search-cp
{
    background-color: white;
}

.apl--applicator--main-search .main-header---cr > .search-cp
{
    background-color: transparent;
}






/* ------------------------- Main Search - Functionality */

.apl--applicator--main-search.dom--unready .main-header---cr > .search-cp
{
    display: none;
}

.main-search-func
{
    position: absolute;
    right: 0;
    top: 0;
}

.main-search--active
{
    width: 100%;
}

.main-search-func .search---cr
{
    position: relative;
    
    height: 3rem;
}

.apl--applicator--main-menu .main-search--active .search---cr
{
    padding-left: 3rem;
}

.main-search--inactive .search---ct
{
    display: none;
}

.main-search-func .search-form-axns---ct_cr
{
    display: flex;
}

.main-search-func .search-submit-axn
{
    order: 1;
}

.main-search-func .main-search-ctrl,
.main-search-func .search-form-axns
{
    position: absolute;
    right: 0;
    top: 0;
}

.main-search-func .input-text
{
    /* Reset */
    padding: 0;
    border: 0;
    border-radius: 0;
    
    color: white;
}

.main-search-func .b
{
    /* Reset */
    width: auto;
}

.main-search--active .main-search-toggle
{
    padding-right: 3rem;
}

.main-search-func .search-term-crt-inp--input-text
{
    padding-left: 1rem;
    padding-right: 6rem;
}

.apl--applicator--main-menu .main-search-func .search-term-crt-inp--input-text
{
    padding-left: 0;
}

.main-search--active.main-search-input--empty .search-reset-axn
{
    display: none;
}

.main-search-func .dismiss-icon
{
    width: .75rem;
    height: .75rem;
}

.main-search-func .b_l
{
    /* Reset */
    width: auto;
    background-color: transparent;
    color: currentColor;
    border: 0;
    border-radius: 0;
    
    padding: 0;
    
    color: white;
}

.main-search-func .icon
{
    pointer-events: none;
}

/* Placeholder Text */
.main-search-func .search-term-crt-inp--input-text::-webkit-input-placeholder
{
    color: white;
    opacity: .5;
}

.main-search-func .search-term-crt-inp--input-text::-moz-placeholder
{
    color: white;
    opacity: .5;
}

.main-search-func .search-term-crt-inp--input-text:-ms-input-placeholder
{
    color: white;
    opacity: .5;
}

.apl--applicator--main-search .main-search-func .search-term-crt-inp--input-text:-moz-placeholder
{
    color: white;
    opacity: .5;
}





/* ------------------------- Sub-Navigation - Style */

.main-nav ul,
.widget_nav_menu ul,
.widget_pages ul
{
    /* Reset */
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a,
.main-nav---a_l,
.widget_nav_menu a,
.widget_pages a
{
    box-sizing: border-box;
    
    display: inline-flex;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
}

.main-nav a,
.widget_nav_menu a,
.widget_pages a
{   
    padding-left: 1rem;
    padding-right: 1rem;
    
    text-decoration: none;
}

.page_item_has_children > .children > .page_item,
.menu-item-has-children > .sub-menu > .menu-item
{
    padding-left: 1rem;
}





/* ------------------------- Sub-Navigation - Functionality */

.apl--applicator--sub-nav.dom--unready .main-nav .children,
.apl--applicator--sub-nav.dom--unready .main-nav .sub-menu,
.apl--applicator--sub-nav.dom--unready .widget_nav_menu .sub-menu,
.apl--applicator--sub-nav.dom--unready .widget_pages .children
{
    display: none;
}

.sub-nav-func .page_item_has_children,
.sub-nav-func .menu-item-has-children
{
    position: relative;
}

.sub-nav-func .page_item_has_children > a,
.sub-nav-func .menu-item-has-children > a
{
    padding-right: 3rem;
}

.sub-nav-func .sub-nav-toggle
{
    position: absolute;
    right: 0;
    top: 0;
}

.sub-nav-func .sub-nav-tog---b
{
    /* Reset */
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}

.sub-nav-func a,
.sub-nav-func .main-nav---a_l
{
    display: flex;
}

.sub-nav-func .sub-nav-tog---b,
.sub-nav-func .sub-nav-tog---b_l
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
}

.sub-nav-toggle .icon
{
    pointer-events: none;
}

.sub-nav-func .sub-nav-toggle .arrow-icon
{
    width: .75rem;
    height: .75rem;
    
    transition: transform 0.2s ease-in-out;
}

.sub-nav--active > .sub-nav-toggle .arrow-icon
{
    transform: rotate( 180deg );
}

.sub-nav--inactive > .children,
.sub-nav--inactive > .sub-menu
{
    display: none;
}





/* ------------------------- WordPress Widgets */
.widget_calendar table
{
    width: 100%;
}





.main-nav---cr
{
    background-color: white;
}