/* Mobile First!!! */

/* ------------------------- Visually Hidden */

/* Heading */
.wbp-main-info---h,

/* Post Published, Modified */
.post-pub-mod---h,
.post-pub---h,
.post-pub-d-t-stamp---h,
.post-mod-d-t-stamp---h,
.post-mod---h,

/* Published Post Author */
.published-post-author---h,
.post-author---h,

/* Classifications */
.post-categories---h,
.categories---h,
.post-tags---h,
.tags---h,

/* Comments */
.comment-md---h,
.comment-hr-as-aside---h,
.comment-meta---h,
.comments-nav---h,
.comment-pub-d-t-stamp---h,
.comment-pub---h,
.published-comment-commenter---h,
.commenter---h,
.comment-crt-hd---h,
.signed-in-acct---h,

/* Comments Actions Snippet - Component */
.comments-axns-snip---h,
.comments-population---h,
.comment-crt-ability---h,

/* Go to Content Nav */
.go-ct-nav---h,
.go-content-nav--inactive,

/* Go to Start Nav */
.go-start-nav---h,
.go-start-nav-func .go-to-start---txt,

/* Main Nav - Main Header Aside */
.main-hr-aside---h,
.main-nav---h,
.main-hr-aside---h,

/* Page Nav */
.page-nav---h,

/* Entry */
.entries---h,
.entry---h,
.entry-md---h,
.entry-nav---h,

/* Breadcrumbs Nav */
.breadcrumbs-nav---h,

/* Post */
.post-hr-as-aside---h,
.post-meta---h,
.post-content---h,
.post-nav---h,
.post-excerpt---h,

/*  Menu | Main Nav - Main Header Aside */
.main-menu-ctrl---h,
.main-menu-tog---b_l .show-hide---txt,

/* Sub-Nav | Main Nav | Widget > Custom Menu */
.sub-nav-func .sub-nav-toggle .show-hide---txt,

/* Search */
.search---h,
.search-term-crt---h,
.search-form-axns---h,
.search-term-creation-label---obj,
.search-term-crt-search-flabel,

/* Main Search */
.main-search-tog---b_l .show-hide---txt,
.main-search-func .search-submit-axn---b_l .search---txt,
.main-search-func .search-reset-axn---b_l .reset---txt,
.main-search-func .search-form-search-axn .search---txt,
.main-search-func .search-form-reset-axn .reset---txt,

/* Web Product Info */
.apl--main-search--active .wbp-main-name,
.apl--main-search--active .web-product-main-logo,
.apl--main-search--active .wbp-main-logo-obj,
.apl--main-search--active .wbp-main-desc,
.wbp-main-name-desc--disabled .wbp-main-name,
.wbp-main-name-desc--disabled .wbp-main-desc,

/* Aside */
.main-ct-hr-aside---h,
.main-fr-aside---h,
.main-ct-aside---h,

.post-content .search-form-reset-axn,
.aside .search-form-reset-axn
{position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;}





/* ------------------------- Root */
.apl--applicator
{
    background-color: #f5f5f5;
    
    font-family: 'Noto Sans', sans-serif;
    text-rendering: geometricPrecision;
}





/* ------------------------- Web Product */
.wbp,
.wbp---cr
{
}





/* ------------------------- Highlight */
::-moz-selection {
    background: #12b32d;
    color: white;
    text-shadow: none;
}

::selection {
    background: #12b32d;
    color: white;
    text-shadow: none;
}
 



/* ------------------------- Forms, Active Objects */
.input--text,
.input--text[type="search"],
.form--a,
.sub-nav-toggle--a,
.main-nav--header-aside--menu-toggle--a
{
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
    border: 0;
    
    background-color: transparent;
}

/* Full-width */
.widget_search .search-term--input--text,
.widget_search .search-form-submit--a,
.widget_search .search-form-reset--a,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.comment-submit--a,
.commenter-comment--input--text
{
    width: 100%;
}

/* Minimum height of the active area */
.applicator--sub-nav .sub-nav-toggle--a-l,

.main-search-func .main-search-toggle--a-l,
.main-search-func .search-form-submit--a-l,
.main-search-func .search-form-reset--a-l,
.main-search-func .search-term--input--text,

.widget_search .search-term--input--text,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.comment-submit--a,

.main-nav--header-aside--menu-toggle--a-l
{
    min-width: 3rem;
    min-height: 3rem;
}


/* ------------------------- UI Template: Buttons ------------------------- */
.applicator--sub-nav .sub-nav-toggle--a-l,

.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.main-nav--header-aside--menu-toggle--a-l
{
    display: flex;
    align-items: center;
}

/* x Center */
.applicator--sub-nav .sub-nav-toggle--a-l,

.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.main-nav--header-aside--menu-toggle--a-l
{
    justify-content: center;
}





/* ------------------------- Post */
.post---ct a
{
    
}






/* ------------------------- Widget Search ------------------------- */
.widget_search .search-term--input--text,
.commenter-comment--input--text
{
    border: 1px solid black;
    border-color: hsla(0, 0%, 0%, .5);
}


.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,
.comment-submit--a
{
    color: white;
}

.widget_search .search-term--input--text,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.commenter-comment--input--text,
.comment-submit--a
{
    border-radius: .125rem;
}

/* ------------------------- Input Text Padding ------------------------- */
.commenter-comment--input--text
{
    min-height: 6rem;
    line-height: 1.25;
}










/* ------------------------- Author ------------------------- */
.comment-author--l
{
    display: flex;
    align-items: center;
}

.comment-author--pred-l
{
    margin-right: .5rem;
}

.author-name--author-avatar--l
{
    display: inline-flex;
    align-items: center;
}

.author-name--l
{
    order: 2
}

.author-avatar--img
{
    order: 1;
    
    margin-right: .25rem;
    
    width: 2rem;
    height: 2rem;
    
    border-radius: 50%;
    overflow: hidden;
}

/* Author Avatar */

.author-avatar-default--blank .author-avatar,
.author-avatar-default--blank .post-author---ct_cr > .space---sep,

.commenter-avatar-default--blank .commenter-avatar,
.commenter-avatar-default--blank .commenter---ct_cr > .space---sep
{
    display: none;
}









/* ------------------------- Color Scheme ------------------------- */
/*
$white: #fff;
$black: #222;
$gray: #808080;
$superhero-blue: #00aaff;
$chikka-orange: #ff7f00;
$record-red: #f22424;
$go-green: #12b32d;
*/

.widget_search .search-form-submit--a-l,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,
.comment-submit--a,



.entry-title--a
{
    color: #00aaff;
}

.main-search-func .main-search-toggle--a,
.main-search-func .search-form-submit--a,
.main-search-func .search-form-reset--a,
.main-search-func .search-term--input--text,

.wbp-main-desc---a,

.main-nav--header-aside--menu-toggle--a-l
{
    color: white;
}





/* ------------------------- Post ------------------------- */

.post-content a:hover,
.post---hr a:hover
{
    text-decoration: none;
}


















/* ------------------------- Article ------------------------- */
.applicator--article .entry-timestamp--time-l,
.applicator--article .entry-edit--a-l
{
   border-radius: .125rem; 
}

.applicator--article .go-comments--a--count
{
   border-radius: .25rem; 
}

.applicator--article .entry-title
{
    margin-top: auto;
    margin-bottom: auto;
}

.applicator--article .post-edit-link,
.applicator--article .entry-timestamp--a,
.applicator--article .go-comments--a
{
    text-decoration: none;
}

.applicator--article .post-edit-link
{
    display: inline-block;
}

.applicator--article .entry-edit--a-l
{
    box-sizing: border-box;
    display: inline-block;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: .25rem .5rem;
    min-width: 3rem;
    min-height: 1.5rem;
    
    text-align: center;
    
    background-color: black;
    color: white;
    
    text-transform: uppercase;
    font-size: .75rem;
}

.applicator--article .entry-timestamp--time-l
{
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    padding: .5rem;
    width: 4rem;
    height: 5rem;
    
    color: black;
    
    line-height: 1;
    
    border: 1px solid black;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l,
.applicator--article .entry-timestamp--time-l .timestamp-month--l,
.applicator--article .entry-timestamp--time-l .timestamp-year--l
{
    width: 100%;
    text-align: center;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l
{
    font-size: 2.25rem;
}
.applicator--article .entry-timestamp--time-l .timestamp-month--l,
.applicator--article .entry-timestamp--time-l .timestamp-year--l
{
    font-size: .75rem;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l
{
    font-weight: bold;
}

.applicator--article .entry-timestamp--time-l .timestamp-month--l
{
    font-weight: bold;
    text-transform: uppercase;
}

.applicator--article .go-comments--a--count
{
    box-sizing: border-box;
    
    position: relative;
    
    display: block;
    padding: .25rem;
    margin-bottom: .5rem;
    min-width: 2rem;
    min-height: 1rem;
    
    text-align: center;
    
    background-color: black;
    color: white;
    
    font-weight: bold;
    font-size: .75rem;
    
    border-bottom-left-radius: 0;
}

.applicator--article .go-comments--a--count::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    
    /* Triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .5rem .5rem 0 0;
    border-color: black transparent transparent transparent;
}

.applicator--article .entry-title--a-l
{
    display: inline-block;
    
    color: black;
    
    font-size: 1.5rem;
}

.applicator--article .post---hr_cr
{
    position: relative;
    padding-right: 4rem;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.applicator--article .pub-timestamp,
.applicator--article .entry-header .comments-snippet
{
    position: absolute;
    right: 0;
    top: 0;
}

.applicator--article .entry-header .comments-snippet
{
    margin-top: 5rem;
    padding-top: .5rem;
    
    width: 4rem;
}

.applicator--article .entry-header .comments-snippet--cr
{
    position: absolute;
}

.applicator--article .entry-meta
{
    width: 100%;
}





/* ------------------------- Excerpt ------------------------- */
.excerpt-link---a
{
    display: block;
}




/* ------------------------- HTML */
.apl--go-content-nav--active,
.apl--main-menu--active
{
    overflow: hidden;
}





/* ------------------------- Masthead */
.main-header
{
    position: relative;
}

.main-header---cr
{
    min-height: 3rem;
    
    background-color: #00aaff;
}





/* ------------------------- Web Product Info */
/*
.wbp-main-info---cr
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    margin-right: 1rem;
    
    height: 3rem;
    
    overflow: hidden;
}
*/

.web-product-main-info,
.wbp-main-info
{
    min-height: 3rem;
}

/* Mod */
.apl--applicator--main-search .web-product-main-info,
.apl--applicator--main-search .wbp-main-info
{
    margin-right: 3rem;
}

.wbp-main-logo--enabled .web-product-main-info,
.wbp-main-logo--enabled .wbp-main-info
{
    margin-left: 1rem;
}

.wbp-main-logo--enabled .web-product-main-info,
.wbp-main-logo--enabled .wbp-main-info
{
    position: relative;
}

.wbp-main-name-desc--enabled.wbp-main-logo--enabled .wbp-main-name,
.wbp-main-name-desc--enabled.wbp-main-logo--enabled .wbp-main-desc
{
    box-sizing: border-box;
    
    padding-left: 2.75rem;
}

/* Text Truncate */
.wbp-main-name---h,
.wbp-main-desc---g
{
    max-width: 100%;
}

.wbp-main-name---a_l,
.wbp-main-desc---a_l
{
    box-sizing: border-box;
    
    display: block;
    
    padding-left: 1rem;
    padding-right: 1rem;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.apl--applicator--main-menu.main-header-aside--enabled .wbp-main-name---a_l,
.apl--applicator--main-menu.main-header-aside--enabled .wbp-main-desc---a_l,

.wbp-main-logo--enabled .wbp-main-name---a_l,
.wbp-main-logo--enabled .wbp-main-desc---a_l
{
    padding-left: 0;
}

.apl--applicator--main-search .wbp-main-name---a_l,
.apl--applicator--main-search .wbp-main-desc---a_l
{
    padding-right: 0;
}

.apl--applicator--main-menu.main-header-aside--enabled .web-product-main-info,
.apl--applicator--main-menu.main-header-aside--enabled .wbp-main-info
{
    margin-left: 3rem;
}






/* ------------------------- Web Product Main Name */
.wbp-main-name---h
{
    /* Reset */
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    
    font-size: 1.125rem;
}

.wbp-main-name
{
    display: flex;
    
    max-width: 100%;
    
    transform: translateY( .25rem );
}

.wbp-main-desc--empty .wbp-main-name
{
    align-items: center;
    height: 3rem;
    transform: translateY( 0 );
}

.wbp-main-name---a
{
    color: white;
    
    text-decoration: none;
}

/*
.wbp-main-desc--empty .wbp-main-name---a_l
{
    display: inline-block;
    
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    max-width: 100%;
    
    vertical-align: middle;
}

.apl--applicator--main-menu.wbp-main-desc--empty .wbp-main-name---a_l
{
    padding-left: 0;
    padding-right: 0;
}
*/





/* ------------------------- Web Product Main Description */
/*
.wbp-main-desc-obj
{
    margin-top: -.5rem;
    width: 100%;
}
*/

.wbp-main-desc
{
    display: flex;
    
    max-width: 100%;
    
    transform: translateY( .125rem );
}

.wbp-main-desc---a
{
    text-decoration: none;
}

.wbp-main-desc---a_l
{
    color: hsla( 100, 100%, 100%, .75 );
    font-size: .75rem;
}





/* ------------------------- Web Product Main Logo  */
.web-product-main-logo,
.wbp-main-logo-obj
{
    position: absolute;
    top: 50%;
    
    margin-top: -1.125rem;
    
    height: 2.25rem;
    
    z-index: 1;
}

.web-product-main-logo .custom-logo,
.wbp-main-logo-obj .custom-logo
{
    width: auto;
    height: 100%;
    max-width: none;
}





/*
.wbp-media-banner--cr
{
    position: fixed;
    left: 0;
    top: 0;
    
    height: 100vh;
    
    background-color: white;
}

.wp-custom-header
{
    height: 100%;
}

.wp-custom-header img
{
    width: auto;
    height: 100%;
    
    max-width: none;
    
    object-fit: cover;
}
*/





/* ------------------------- Copyright Info */
.web-product-copyright
{
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
    
    min-height: 3rem;
}

.wbp-copyright---g_l
{
    text-align: center;
    
    font-size: .75rem;
}

.web-product-copyright .wbp-name---txt a,
.wbp-copyright---g_l
{
    color: gray;
    color: hsla(0, 0%, 0%, .5);
}

.web-product-copyright .wbp-name---txt a
{
    text-decoration: none;
}

.web-product-copyright .wbp-name---txt
{
    font-weight: bold;
}

.apl--go-start-nav--active .web-product-copyright
{
    padding-left: 3rem;
    padding-right: 3rem;
}





/* ------------------------- Go to Content Nav - Style */
.go-ct-navi---a,
.go-ct-navi---a_l
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
}

.go-ct-navi---a
{
    text-decoration: none;
}

.go-ct-navi---a_l
{
    box-sizing: border-box;
    
    padding: .5rem .75rem;
}





/* ------------------------- Go to Content Nav - Function */
.apl--applicator--go-content-nav.dom--unready .go-content-nav
{
    display: none;
}

.go-content-nav-func
{
    position: fixed;
    left: 0;
    top: 0;
    
    width: 100%;
}

.go-content-nav-func,
.go-content-nav-func .go-ct-nav---ct
{
    height: 100%;
}

.go-content-nav-func
{
    background-color: white;
    background-color: hsla(0, 100%, 100%, .75);
}

.go-content-nav-func .go-to-content-navi,
.go-content-nav-func .go-content-navi
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
}

.go-content-nav-func .go-ct-navi---a
{
    box-sizing: border-box;
    
    padding: .25rem;
    
    text-decoration: none;
    
    color: white;
}

.go-content-nav-func .go-ct-navi---a_l
{
    min-height: 2.25rem;
    
    background-color: #00aaff;
    border-radius: .25rem;
}

.go-content-nav--inactive
{
    opacity: 0;
    z-index: -1;
}

.go-content-nav--inactive
{
    background-color: transparent;
}

.go-content-nav--active
{
    opacity: 1;
    z-index: 99;
}




/* ------------------------- Go to Start Nav - Style */
.apl--applicator--go-start-nav body
{
    height: auto;
}

.go-start-navi---a,
.go-start-navi---a_l
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
    
    text-decoration: none;
}

.go-start-navi---a_l
{
    box-sizing: border-box;
    
    padding: .5rem .75rem;
}





/* ------------------------- Go to Start Nav - Function */
.apl--applicator--go-start-nav.dom--unready .go-start-nav
{
    display: none;
}

.go-start-nav-func
{
    position: fixed;
    right: 0;
    bottom: 0;
}

.go-start-nav-func .go-to-start-navi
{   
    transition: transform .2s ease-in-out;
}

.go-start-nav-func .go-start-navi---a
{   
    color: black;
}

.go-start-nav--active .go-to-start-navi
{
    transform: translateY( 0 );
}


.apl--applicator--go-start-nav.dom--unready .go-to-start-navi,
.go-start-nav--inactive .go-to-start-navi
{
    transform: translateY( 100% );
}

.go-start-nav--active
{
    z-index: 99;
}





/* ------------------------- Main Menu - Style */
.main-hr-aside---ct_cr
{
    background-color: white;
}


/* ------------------------- Raster Icons */
.icon--raster
{
    background-image: url( ../../../assets/img/raster-icons.png );
    background-size: auto 32px;
    background-repeat: no-repeat;
}

.icon--raster.burger-icon
{
    background-position: -32px -16px;
}

.icon--raster.search-icon
{
    background-position: -64px -16px;
}

.icon--raster.arrow-icon
{
    background-size: auto 24px;
    background-position: 0 0;
}

.icon--raster.dismiss-icon
{
    background-size: auto 24px;
    background-position: -36px 0;
}

.main-search-func .icon--raster.dismiss-icon
{
    background-position: -36px -12px;
}

.icon--raster.arrow-up-2-icon
{
    background-position: -16px 0;
}





/* ------------------------- Main Menu - Function */

.apl--applicator--main-menu.dom--unready .main-header-aside
{
    display: none;
}

.main-menu--active
{
    -webkit-tap-highlight-color: transparent;
}

.main-menu-func,
.main-menu-func .main-hr-aside---cr,
.main-menu-func .main-hr-aside---ct,
.main-menu-func .main-hr-aside---ct_cr
{
    height: 100%;
}

.main-menu-func .main-hr-aside---ct
{
    box-sizing: border-box;
    
    position: relative;
    
    margin-right: 3rem;
    padding-top: 3rem;
    
    width: auto;
    
    background-color: white;
    
    cursor: initial;
}

.main-menu-func .main-hr-aside---ct_cr
{
    box-sizing: border-box;
    
    overflow-y: auto;
}

.main-menu-func .main-menu-toggle
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.main-menu--inactive .main-hr-aside---ct
{
    display: none;
}

.main-menu--active
{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    
    width: 100%;
    
    background-color: black;
    background-color: hsla(0, 0%, 0%, .75);
    
    cursor: pointer;
}

.main-menu--active .main-menu-toggle
{
    width: calc( 100% - 3rem );
}

.main-menu--active .main-menu-toggle::before
{
    content: '';
    position: absolute;
    
    left: 0;
    top: 0;
    
    width: 100%;
    height: 3rem;
    
    background-color: white;
    
    cursor: initial;
}

.main-menu--active .main-menu-tog---b_l
{
    color: black;
}

/* Shadow Gradient */
.main-menu-func .main-hr-aside---ct_cr::before
{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    
    width: .5rem;
    height: 100%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.25+0,0+100 */
    background: -moz-linear-gradient(left, hsla(0,0%,0%,0.25) 0%, hsla(0,0%,0%,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0.25) 0%,hsla(0,0%,0%,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, hsla(0,0%,0%,0.25) 0%,hsla(0,0%,0%,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

/* Fading Gradient */
.main-menu-func .main-hr-aside---ct_cr::after
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 1rem;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    
    transform: translateY( 3rem );
}


.main-menu-tog---b
{
    /* Reset */
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}

.main-menu-tog---b,
.main-menu-tog---b_l
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
}

.main-menu-toggle .icon
{
    pointer-events: none;
}

.main-menu-toggle .dismiss-icon
{
    width: .75rem;
    height: .75rem;
}

.main-menu-tog---b_l
{
    color: white;
}

.main-menu--active .main-menu-tog---b
{
    position: relative;
    z-index: 1;
}






/* ------------------------- WordPress Admin Bar */
.wp-admin-bar--enabled
{
    margin-top: auto !important;
}

/* WP Admin Bar - Narrow */
.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .wbp---cr,
.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .main-menu--active
{
    margin-top: 46px;
}

.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .main-menu-func .main-hr-aside---ct
{
    padding-bottom: 46px;
}

/* WP Admin Bar - Wide */
.wp-admin-bar--enabled.vp--wp-admin-bar--wide .wbp---cr,
.wp-admin-bar--enabled.vp--wp-admin-bar--wide .main-menu--active
{
    margin-top: 32px;
}

.wp-admin-bar--enabled.vp--wp-admin-bar--wide .main-menu-func .main-hr-aside---ct
{
    padding-bottom: 32px;
}

.apl--go-content-nav--active .wpadminbar
{
    z-index: 0 !important;
}




/* ------------------------- Search - Style > Nature */

.apl-search .input-text,
.apl-search .b,

.comment-form .input-text,
.comment-form-submit-axn---b
{
    /* Reset */
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.apl-search .input-text,
.apl-search .b,
.apl-search .b_l,

/* Comment Respond */
.comment-form .input-text,
.comment-form-submit-axn---b
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
    
    width: 100%;
}

.apl-search .b_l,

.comment-form-submit-axn---b
{
    padding: .5rem 1rem;
}

/* X */
.search-term-creation-label---obj,
.search-term-creation-input---obj,

.search-term-crt-search-flabel
{
    display: block;
}





/* ------------------------- Form Elements - Style > Decorations */
.apl-search .input-text,

.comment-form .input-text
{
    padding: 0 .5rem;
    
    border: 1px solid black;
    border-color: hsla(0, 0%, 0%, .5);
}

.apl-search .search-submit-axn---b_l,

.comment-form-submit-axn---b,
.post-content .apl-search .b,
.aside .apl-search .b
{
    background-color: #00aaff;
    color: white;
}

.apl-search .search-reset-axn---b_l
{
    border: 2px solid black;
    border-color: hsla(0, 0%, 0%, .25);
    
    color: black;
    color: hsla(0, 0%, 0%, .5);
}



.main-header---cr > .apl-search
{
    background-color: white;
}

.apl--applicator--main-search .main-header---cr > .apl-search
{
    background-color: transparent;
}

/* Search */
.apl-search .input-text,
.apl-search .b_l,
.post-content .apl-search .b,
.aside .apl-search .b,

/* Comment Respond */
.comment-form .input-text,
.comment-form-submit-axn---b
{   
    border-radius: .125rem;
}






/* ------------------------- Main Search - Functionality */

.apl--applicator--main-search.dom--unready .main-header---cr > .apl-search
{
    display: none;
}

.main-search-func
{
    position: absolute;
    right: 0;
    top: 0;
}

.main-search--active
{
    width: 100%;
}

.main-search-func .search---cr
{
    position: relative;
    
    height: 3rem;
}

.main-search--inactive .search---ct
{
    display: none;
}

.main-search-func .search-form-axns---ct_cr
{
    display: flex;
}

.main-search-func .search-submit-axn,
.main-search-func .search-form-search-axn
{
    order: 1;
}

.main-search-func .main-search-toggle,
.main-search-func .search-form-axns
{
    position: absolute;
    right: 0;
    top: 0;
}

.main-search-func .input-text
{
    /* Reset */
    padding: 0;
    border: 0;
    border-radius: 0;
    
    color: white;
}

.main-search-func .b
{
    /* Reset */
    width: auto;
}

.apl--applicator--main-menu.main-header-aside--enabled .main-search-func .search-term-crt-search---input-text,
.apl--applicator--main-menu.main-header-aside--enabled .main-search-func .search-term-crt-search---input-text
{
    padding-left: 0;
}

.apl--applicator--main-menu.main-header-aside--enabled .main-search--active .search---cr
{
    padding-left: 3rem;
}

.main-search-func .search-term-crt-search---input-text,
.main-search-func .search-term-crt-search---input-text
{
    padding-left: 1rem;
    padding-right: 6rem;
}

.main-search--active.main-search-input--empty .search-reset-axn,
.main-search--active.main-search-input--empty .search-form-reset-axn
{
    display: none;
}

.main-search--active .main-search-toggle
{
    padding-right: 3rem;
}

.main-search-func .dismiss-icon
{
    width: .75rem;
    height: .75rem;
}

.main-search-func .b_l
{
    /* Reset */
    width: auto;
    background-color: transparent;
    color: currentColor;
    border: 0;
    border-radius: 0;
    
    padding: 0;
    
    color: white;
}

.main-search-func .icon
{
    pointer-events: none;
}

/* Placeholder Text */
.main-search-func .search-term-crt-search---input-text::-webkit-input-placeholder
{
    color: white;
    opacity: .5;
}

.main-search-func .search-term-crt-search---input-text::-moz-placeholder
{
    color: white;
    opacity: .5;
}

.main-search-func .search-term-crt-search---input-text:-ms-input-placeholder
{
    color: white;
    opacity: .5;
}

.apl--applicator--main-search .main-search-func .search-term-crt-search---input-text:-moz-placeholder
{
    color: white;
    opacity: .5;
}





/* ------------------------- Sub-Navigation - Style */

.main-nav ul,
.widget_nav_menu ul,
.widget_pages ul
{
    /* Reset */
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a,
.main-navi---a_l,
.widget_nav_menu a,
.widget_pages a
{
    box-sizing: border-box;
    
    display: inline-flex;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
}

.main-nav a,
.widget_nav_menu a,
.widget_pages a
{   
    padding-left: 1rem;
    padding-right: 1rem;
    
    text-decoration: none;
}

.page_item_has_children > .children > .page_item,
.menu-item-has-children > .sub-menu > .menu-item
{
    padding-left: 1rem;
}





/* ------------------------- Sub-Navigation - Functionality */

/* Initialize */
.apl--applicator--sub-nav.dom--unready .main-nav .children,
.apl--applicator--sub-nav.dom--unready .main-nav .sub-menu,
.apl--applicator--sub-nav.dom--unready .widget_nav_menu .sub-menu,
.apl--applicator--sub-nav.dom--unready .widget_pages .children
{
    display: none;
}

.apl--applicator--sub-nav .page_item_has_children > a,
.apl--applicator--sub-nav .menu-item-has-children > a
{
    padding-right: 3rem;
}

.sub-nav-func .page_item_has_children,
.sub-nav-func .menu-item-has-children
{
    position: relative;
}

.sub-nav-func .sub-nav-toggle
{
    position: absolute;
    right: 0;
    top: 0;
    
    /*
    transform: translateY( -1.5rem );
    */
    /* Or to have an absolute number like 3rem which we can store in a variable. */
    /* We use "time point five" instead of "divided by two" to be consistent with top: 50%. */
    /*
    transform: translateY( calc( -3rem * .5 ) );
    */
}

.sub-nav-func .sub-nav-tog---b
{
    /* Reset */
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}

.sub-nav-func a,
.sub-nav-func .main-navi---a_l
{
    display: flex;
}

.sub-nav-func .sub-nav-tog---b,
.sub-nav-func .sub-nav-tog---b_l
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    min-width: 3rem;
    min-height: 3rem;
}

.sub-nav-toggle .icon
{
    pointer-events: none;
}

.sub-nav-func .sub-nav-toggle .arrow-icon
{
    width: .75rem;
    height: .75rem;
    
    transition: transform 0.2s ease-in-out;
}

.sub-nav--active > .sub-nav-toggle .arrow-icon
{
    transform: rotate( 180deg );
}

.sub-nav--inactive > .children,
.sub-nav--inactive > .sub-menu
{
    display: none;
}





/*------------------ Comment Respond - Style ------------------*/
.comment-form .input-text
{
    box-sizing: border-box;
    width: 100%;
}




/* ------------------------- Comments - Style */
.comments---grp,
.comment .children
{
    /* Reset */
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment .comment
{
    padding-left: 1rem;
}

#comments:target,
#comments *:target,
#respond *:target
{
    animation: fade-highlight 2s ease;
}

@keyframes fade-highlight {
    0%
    {
        background-color: hsla( 56, 100%, 50%, .125 );
    }
    100%
    {
        background-color: transparent;
    }
}





/* ------------------------- WordPress Widgets */
.widget_calendar table
{
    width: 100%;
}

.aside .widget_search,
.aside .widget_calendar,
.post-content .apl-search
{
    max-width: 30rem;
}





/* ------------------------- Main Nav - Style */

.main-nav---cr
{
    background-color: white;
}





/* ------------------------- Easy Access Nav | Main Nav - Style */

/* Initialize */
.apl--applicator--easy-access-nav .main-nav---ct_cr > ul
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.apl--applicator--easy-access-nav .main-nav---ct_cr > ul > li > a
{
    display: flex;
    justify-content: center;
}

.apl--applicator--easy-access-nav .main-nav---ct_cr > ul > li > a > .main-navi---a_l
{
    justify-content: center;
}

.apl--applicator--easy-access-nav .main-nav---ct_cr a
{
    color: black;
}

.easy-access-nav-func .sub-nav--active
{
    z-index: 99;
}

.easy-access-nav-func .page_item_has_children > .children,
.easy-access-nav-func .menu-item-has-children > .sub-menu
{
    position: absolute;
    top: 100%;
    z-index: 99;
    
    border: 1px solid hsla( 0, 0%, 0%, .125 );
    border-radius: .125rem;
}

.easy-access-nav-func .sub-nav--inbound > .children,
.easy-access-nav-func .sub-nav--inbound > .sub-menu
{
    right: 0;
}

.easy-access-nav-func .sub-nav--outbound-left > .children,
.easy-access-nav-func .sub-nav--outbound-left > .sub-menu
{
    left: 0;
}

.easy-access-nav-func .sub-nav-toggle:hover .icon--vector
{
    width: calc( .75rem + .1rem );
    height: calc( .75rem + .1rem );
}

/* Menu Indicator */
.apl--applicator--easy-access-nav .main-nav---ct_cr > ul > .page_item_has_children > a > .main-navi---a_l,
.apl--applicator--easy-access-nav .main-nav---ct_cr > ul > .menu-item-has-children > a > .main-navi---a_l
{
    padding-left: .25rem;
    padding-right: .25rem;
}

.apl--applicator--easy-access-nav .main-nav---ct_cr > ul > li > a > .main-navi---a_l:hover,

.easy-access-nav-func .main-nav---ct_cr > ul > .page_item_has_children > .children a:hover,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item-has-children > .sub-menu a:hover,

.easy-access-nav-func .main-nav---ct_cr > ul > .current_page_item > a > .main-navi---a_l,

.easy-access-nav-func .main-nav---ct_cr > ul > .page_item_has_children > .children .current_page_item > a,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item-has-children > .sub-menu .current-menu-item > a
{
    position: relative;
}

.apl--applicator--easy-access-nav .main-nav---ct_cr > ul > li > a > .main-navi---a_l:hover::before,

.easy-access-nav-func .main-nav---ct_cr > ul > .page_item_has_children > .children a:hover::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item-has-children > .sub-menu a:hover::before,

.easy-access-nav-func .main-nav---ct_cr > ul > .current_page_item > a > .main-navi---a_l::before,

.easy-access-nav-func .main-nav---ct_cr > ul > .page_item_has_children > .children .current_page_item > a::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item-has-children > .sub-menu .current-menu-item > a::before
{
    content: '';
    position: absolute;
    left: 0;
}

.apl--applicator--easy-access-nav .main-nav---ct_cr > ul > li > a > .main-navi---a_l:hover::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .current_page_item > a > .main-navi---a_l::before
{
    bottom: 0;
    
    width: 100%;
    height: .125rem;
}

.easy-access-nav-func .main-nav---ct_cr > ul > .page_item_has_children > .children a:hover::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item-has-children > .sub-menu a:hover::before,

.easy-access-nav-func .main-nav---ct_cr > ul > .page_item_has_children > .children .current_page_item > a::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item-has-children > .sub-menu .current-menu-item > a::before
{
    top: 0;
    
    width: .125rem;
    height: 100%;
    
    border-top-left-radius: .125rem;
    border-bottom-left-radius: .125rem;
}

.apl--applicator--easy-access-nav .main-nav---ct_cr > ul > li > a > .main-navi---a_l:hover::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .page_item_has_children > .children a:hover::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item-has-children > .sub-menu a:hover::before
{    
    background-color: black;
    background-color: hsla( 0, 0%, 0%, .125 );
}

.easy-access-nav-func .main-nav---ct_cr > ul > .page_item.current_page_item > a > .main-navi---a_l::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item.current-menu-item > a > .main-navi---a_l::before,

.easy-access-nav-func .main-nav---ct_cr > ul > .page_item_has_children > .children .current_page_item > a::before,
.easy-access-nav-func .main-nav---ct_cr > ul > .menu-item-has-children > .sub-menu .current-menu-item > a::before
{
    background-color: #00aaff;
}

/*
.easy-access-nav-func .main-nav---ct_cr > ul > .current_page_ancestor > a .navi---txt,
.easy-access-nav-func .main-nav---ct_cr > ul > .current-menu-ancestor > a .navi---txt
{
    font-weight: bold;
}
*/
/* /Menu Indicator */

.easy-access-nav-func .page_item_has_children > .children > .page_item,
.easy-access-nav-func .menu-item-has-children > .sub-menu > .menu-item
{
    padding-left: initial;
}

.easy-access-nav-func .page_item_has_children > .children > .page_item,
.easy-access-nav-func .menu-item-has-children > .sub-menu > .menu-item
{
    background-color: white;
}

.easy-access-nav-func .page_item_has_children > .children > .page_item:first-child,
.easy-access-nav-func .menu-item-has-children > .sub-menu > .menu-item:first-child
{
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}

.easy-access-nav-func .page_item_has_children > .children > .page_item:last-child,
.easy-access-nav-func .menu-item-has-children > .sub-menu > .menu-item:last-child
{
    border-bottom-left-radius: .125rem;
    border-bottom-right-radius: .125rem;
}

.apl--applicator--easy-access-nav .main-nav .sub-nav-toggle
{
    top: initial;
    bottom: 0;
}

.easy-access-nav-func .children,
.easy-access-nav-func .sub-menu
{   
    /* Specific width */
    min-width: 15rem;
}

.easy-access-nav-func .sub-nav--outbound-left.sub-nav--outbound-right .children,
.easy-access-nav-func .sub-nav--outbound-left.sub-nav--outbound-right .sub-menu
{
    /* Take the whole width of parent nav item */
    min-width: 100%;
}

.easy-access-nav-func .page_item_has_children .children,
.easy-access-nav-func .menu-item-has-children .sub-menu
{
    
    transform: translate( -.5rem, -.5rem );
}

.easy-access-nav-func .sub-nav--outbound-left .children,
.easy-access-nav-func .sub-nav--outbound-left .sub-menu
{
    
    transform: translate( .5rem, -.5rem );
}





/* Main Footer */
.dom--unready .main-footer
{
    display: none;
}

.page--short .main-footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    
    width: 100%;
}





/*------------------ Applicator Table Theme - Stroked ------------------*/

/* Reset */
.apl--applicator--theme--table--stroked .post-content td,
.apl--applicator--theme--table--stroked .post-content th
{
    border: 0;
}

.apl--applicator--theme--table--stroked .post-content tbody,
.apl--applicator--theme--table--stroked .post-content tfoot
{
    border: 2px solid hsla( 0, 0%, 0%, .125 );
    border-left: 0;
    border-right: 0;
}

.apl--applicator--theme--table--stroked .post-content tfoot
{
    border-top: 0;
    border-color: hsla( 0, 0%, 0%, .0625 );
}

.apl--applicator--theme--table--stroked .post-content th
{
    text-align: left;
    vertical-align: bottom;
}

.apl--applicator--theme--table--stroked .post-content td
{
    border: 1px solid hsla( 0, 0%, 0%, .0625 );
    
    border-left-style: dotted;
    
    border-right: 0;
    border-bottom: 0;
}

.apl--applicator--theme--table--stroked .post-content td:first-child
{
    border-left: 0;
}