/* Mobile First!!! */




/* ------------------------- Visually Hidden ------------------------- */
/* For Accessibility */

.visuallyhidden,



.main-nav--h,
.search--h,
legend,
.search-term--label,

.main-header-aside---h,
.main-footer-aside--h,

.widget_nav_menu .widget---h,

.sub-nav-toggle--a--word--l,
.nav--h,
.axns--h,
.entry.attachment .post-navigation .screen-reader-text,
.comment--h,
.axns--h,
.comments--h,
.mn-mha---h,

.arbitrary-nav .search-toggle--a--word--l,
.arbitrary-nav .search-form-submit--a--words-l,
.arbitrary-nav .search-form-reset--a--words-l,

.widget_search .search-form-reset--form-axn-item,

.commenter-comment--label,

.main-nav--header-aside--menu-toggle--a--word--l,

.applicator--article .entry-edit--a--entry--word-l,
.applicator--article .entry-timestamp--pred-l,
.applicator--article .go-comments--a--comments--words-l,
.applicator--article .entry-author--pred-l,
.applicator--article .mod-timestamp,
.applicator--article .entry-header .write-comment--a
{
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    
    border: 0;
    word-wrap: normal;
}

/* ------------------------- Visually Hidden */

/* Go to Content Nav */
.dom--unready .go-content-nav,
.go-content-nav--inactive,
.go-ct-nav---h,

/* Web Product Info */
.apl--search--active .wbp-name,
.apl--search--active .wbp-logo,
.apl--search--active .wbp-desc,
.wbp-name-desc--disabled .wbp-name,
.wbp-name-desc--disabled .wbp-desc,

/* Go to Start Nav */
.go-start-navi--go---word,
.go-start-navi--to---word,
.go-start-navi--start---word,
.go-start-nav---h,
.dom--unready .go-start-nav
{position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;}




html
{
    /* Typography */
    font-family: 'Noto Sans', sans-serif;
}




/* ------------------------- Reset Margins ------------------------- */
/*
h1, h2, h3, h4, h5, h6,
p
{
    margin: 0;
}
*/



/* ------------------------- Reset Lists ------------------------- */
.reset-list,

.main-nav ul,
.widget_nav_menu ul,
.widget_pages ul,

.comments--grp
{
    list-style: none;
    padding: 0;
    margin: 0;
}




/* ------------------------- Highlight ------------------------- */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}





/* ------------------------- Sub-Navigations ------------------------- */
.applicator--sub-nav.dom--unready .main-nav--ct > ul > .page_item_has_children > .children,
.applicator--sub-nav.dom--unready .main-nav--ct > ul > .menu-item-has-children > .sub-menu,

.applicator--sub-nav.dom--unready .widget_nav_menu .widget---cr > div > ul > .menu-item-has-children > .sub-menu,
.applicator--sub-nav.dom--unready .widget_pages .widget---cr > ul > .page_item_has_children > .children,

.applicator--sub-nav .sub-nav--inactive > .children,
.applicator--sub-nav .sub-nav--inactive > .sub-menu
{
    display: none;
}

.applicator--sub-nav .sub-nav--active > .children,
.applicator--sub-nav .sub-nav--active > .sub-menu
{
    display: block;
}

/* Layout */
.page_item_has_children > a,
.menu-item-has-children > a,
.page_item_has_children > .sub-nav-toggle,
.menu-item-has-children > .sub-nav-toggle
{
    display: inline-block;
    vertical-align: middle;
}

.applicator--sub-nav .page_item > .sub-nav-toggle .arrow--icon,
.applicator--sub-nav .menu-item > .sub-nav-toggle .arrow--icon
{
    /*
    transition: all 0.2s ease-in-out;
    */
}

.applicator--sub-nav .sub-nav--active > .sub-nav-toggle .arrow--icon
{
    transform: rotate( 180deg );
}




/* ------------------------- Forms, Active Objects ------------------------- */
.input--text,
.input--text[type="search"],
.form--a,
.arbitrary-nav .search-toggle--a,
.sub-nav-toggle--a,
.main-nav--header-aside--menu-toggle--a
{
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
    border: 0;
    
    background-color: transparent;
}

/* Full-width */
.arbitrary-nav .search-term--input--text,

.widget_search .search-term--input--text,
.widget_search .search-form-submit--a,
.widget_search .search-form-reset--a,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.comment-submit--a,
.commenter-comment--input--text
{
    width: 100%;
}

/* Minimum height of the active area */
.main-nav a,
.widget_nav_menu a,
.widget_pages a,

.applicator--sub-nav .sub-nav-toggle--a-l,

.arbitrary-nav .search-toggle--a-l,
.arbitrary-nav .search-form-submit--a-l,
.arbitrary-nav .search-form-reset--a-l,
.arbitrary-nav .search-term--input--text,

.widget_search .search-term--input--text,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.comment-submit--a,

.main-nav--header-aside--menu-toggle--a-l
{
    min-width: 3rem;
    min-height: 3rem;
}


/* ------------------------- UI Template: Buttons ------------------------- */
.main-nav a,

.widget_nav_menu a,
.widget_pages a,

.applicator--sub-nav .sub-nav-toggle--a-l,

.arbitrary-nav .search-toggle--a-l,
.arbitrary-nav .search-form-submit--a-l,
.arbitrary-nav .search-form-reset--a-l,

.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.main-nav--header-aside--menu-toggle--a-l
{
    display: flex;
    align-items: center;
}

/* x Center */
.applicator--sub-nav .sub-nav-toggle--a-l,

.arbitrary-nav .search-toggle--a-l,
.arbitrary-nav .search-form-submit--a-l,
.arbitrary-nav .search-form-reset--a-l,

.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.main-nav--header-aside--menu-toggle--a-l
{
    justify-content: center;
}





/* ------------------------- Anchors ------------------------- */

/* Reset */
.wbp-name--a,
.entry--ct-cr a,
.main-nav a,
.widget_nav_menu a,
.widget_pages a,
.entry-title--a
{
    text-decoration: none;
}

.entry--ct-cr a
{
    box-shadow: inset 0 -1px 0 black;
    transition: color 160ms ease-in-out, box-shadow 160ms ease-in-out;
}

.entry--ct-cr a:hover
{
    box-shadow: inset 0 0 0 hsla(0, 0%, 0%, 0), 0 2px 0 hsla(0, 0%, 0%, 1);
}











/* ------------------------- Arbitrary Nav ------------------------- */
.dom--unready .main-header---cr > .search-cp .search-form,
.arbitrary-nav.search--inactive .search-form,
.arbitrary-nav.search-input--empty .search-form-reset--a,
.arbitrary-nav.search--active .search-toggle--a .search--icon,
.arbitrary-nav.search--inactive .search-toggle--a .dismiss--icon
{
    display: none;
}

.arbitrary-nav .search-form--axns,
.arbitrary-nav.search--active .search-toggle
{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1.125rem;
}

.arbitrary-nav .search-form-axn--grp,
.search-toggle--cr
{
    display: flex;
    align-items: center;
}

.arbitrary-nav .search-form-submit--form-axn-item
{
    order: 2;
}

.arbitrary-nav .search-form-reset--form-axn-item
{
    order: 1;
}

.arbitrary-nav .dismiss--icon
{
    width: .75rem;
    height: .75rem;
}

.arbitrary-nav.search--active .search-term--input--text
{
    padding-right: 6rem;
}

.arbitrary-nav.search--active .search-toggle
{
    margin-right: 3rem;
}

.arbitrary-nav .search-term--input--text
{
    padding-left: 1rem;
}

.apl--mnha--menu .arbitrary-nav .search-term--fs-grp
{
    padding-left: 3rem;
}

.apl--mnha--menu .arbitrary-nav .search-term--input--text
{
    padding-left: 0;
}



/* ------------------------- Widget Search ------------------------- */
.widget_search .search-term--input--text,
.commenter-comment--input--text
{
    border: 1px solid black;
    border-color: hsla(0, 0%, 0%, .5);
}


.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,
.comment-submit--a
{
    color: white;
}

.widget_search .search-term--input--text,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,

.commenter-comment--input--text,
.comment-submit--a
{
    border-radius: .125rem;
}

/* ------------------------- Input Text Padding ------------------------- */
.commenter-comment--input--text
{
    min-height: 6rem;
    line-height: 1.25;
}





/* ------------------------- Nav ------------------------- */

/* Positioning of nav items */
/* flex-wrap enables the item with large width to wrap - in this case the Sub-Menu */
.applicator--sub-nav .page_item_has_children,
.applicator--sub-nav .menu-item-has-children
{
    position: relative;
}

.applicator--sub-nav .sub-nav-toggle
{
    position: absolute;
    right: 0;
    top: 0;
}

/* For flex-wrap to take effect */
.applicator--sub-nav .page_item_has_children > .children,
.applicator--sub-nav .menu-item-has-children > .sub-menu
{
    width: 100%;
}

.page_item_has_children > .children > .page_item,
.menu-item-has-children > .sub-menu > .menu-item
{
    padding-left: .5rem;
}





/* ------------------------- Author ------------------------- */
.comment-author--l
{
    display: flex;
    align-items: center;
}

.comment-author--pred-l
{
    margin-right: .5rem;
}

.author-name--author-avatar--l
{
    display: inline-flex;
    align-items: center;
}

.author-name--l
{
    order: 2
}

.author-avatar--img
{
    order: 1;
    
    margin-right: .25rem;
    
    width: 2rem;
    height: 2rem;
    
    border-radius: 50%;
    overflow: hidden;
}




/* ------------------------- Spacing | Dimensions ------------------------- */

.widget_search .search-form-submit--btn,
.widget_search .search-form-reset--btn,

.commenter-comment--input-text,
.form-submit
{
    padding: 1rem;
    margin-top: -1rem;
}

.widget_search .search-term--input-text
{
    padding: 1rem;
}

.main-nav a,
.widget_nav_menu a,
.widget_pages a
{
    padding-left: 1rem;
    padding-right: 1rem;
}


.widget_search .search-term--input--text,
.commenter-comment--input--text
{
    padding: 0 .5rem;
}

.commenter-comment--input--text
{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* Smaller icons */
.applicator--sub-nav .sub-nav-toggle--a .arrow--icon,
.main-nav--header-aside--menu-toggle .dismiss--icon
{
    width: .75rem;
    height: .75rem;
}












/* ------------------------- Main Header ------------------------- */
.main-header---cr
{
    position: relative;
}

.arbitrary-nav
{
    position: absolute;
    right: 0;
    top: 0;
    
    width: 100%;
}

.arbitrary-nav .search-toggle--a
{
    position: absolute;
    right: 0;
    top: 0;
}

.arbitrary-nav .search-toggle--a-l,
.arbitrary-nav .search-form-submit--a-l,
.arbitrary-nav .search-form-reset--a-l,
.arbitrary-nav .search-term--input--text
{
    min-width: 3rem;
    min-height: 3rem;
}

.arbitrary-nav .search-form--axns,
.arbitrary-nav.search--active .search-toggle
{
    margin-top: -1.5rem;
}











/* ------------------------- Main Nav | Header Aside - Menu ------------------------- */
.main-nav--header-aside--active .main-nav--header-aside--menu-toggle .burger--icon,
.main-nav--header-aside--inactive .main-nav--header-aside--menu-toggle .dismiss--icon,

.apl--mnha--menu.dom--unready .main-nav,
.apl--mnha--menu.dom--unready .main-header-aside,

.apl--mnha--menu--inactive .main-nav,
.apl--mnha--menu--inactive .main-header-aside
{
    display: none;
}

.main-nav--header-aside--menu-toggle
{
    position: absolute;
    left: 0;
    top: 0;
}

.apl--search--active .main-nav--header-aside--menu-toggle
{
    z-index: 1;
}

.main-nav--header-aside--active
{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.main-nav--header-aside--active,
.main-nav--header-aside--active .mn-mha---cr,
.main-nav--header-aside--active .mn-mha---ct,
.main-nav--header-aside--active .mn-mha---ct-cr
{
    width: 100%;
    height: 100%;
}

.main-nav--header-aside--active .mn-mha---ct
{
    position: relative;
    box-sizing: border-box;
    padding-right: 3rem;
    margin-top: 3rem;
}

.main-nav--header-aside--active .mn-mha---ct::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -3rem;
    
    width: .5rem;
    height: 100%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.25+0,0+100 */
    background: -moz-linear-gradient(left, hsla(0,0%,0%,0.25) 0%, hsla(0,0%,0%,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0.25) 0%,hsla(0,0%,0%,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, hsla(0,0%,0%,0.25) 0%,hsla(0,0%,0%,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.main-nav--header-aside--active .mn-mha---cr
{
    background-color: black;
    background-color: hsla(0, 0%, 0%, .75);
    
    cursor: pointer;
}

.main-nav--header-aside--active .mn-mha---ct-cr
{
    background-color: white;
    overflow-y: auto;
    cursor: auto;
}








/* ------------------------- Color Scheme ------------------------- */
/*
$white: #fff;
$black: #222;
$gray: #808080;
$superhero-blue: #00aaff;
$chikka-orange: #ff7f00;
$record-red: #e53a2e;
$go-green: #12b32d;
*/

.widget_search .search-form-submit--a-l,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-submit--a-l,
.widget_search .search-form-reset--a-l,
.comment-submit--a,

.main-header---cr
{
    background-color: #00aaff;
}

.entry-title--a
{
    color: #00aaff;
}

.wbp-name--cr,
.wbp-desc--cr
{
    color: white;
    color: hsla(0, 100%, 100%, .75);
}

.arbitrary-nav .search-toggle--a,
.arbitrary-nav .search-form-submit--a,
.arbitrary-nav .search-form-reset--a,
.arbitrary-nav .search-term--input--text,

.wbp-name--a,
.wbp-desc---a,

.main-nav--header-aside--menu-toggle--a-l
{
    color: white;
}

.arbitrary-nav .search-term--input--text::-webkit-input-placeholder
{
    color: white;
}

.arbitrary-nav .search-term--input--text::-moz-placeholder
{
    color: white;
}

.arbitrary-nav .search-term--input--text:-ms-input-placeholder
{
    color: white;
}

.arbitrary-nav .search-term--input--text:-moz-placeholder
{
    color: white;
}



/* ------------------------- Placeholder Text ------------------------- */
.arbitrary-nav .search-term--input--text::-webkit-input-placeholder
{
    opacity: .5;
}

.arbitrary-nav .search-term--input--text::-moz-placeholder
{
    opacity: .5;
}

.arbitrary-nav .search-term--input--text:-ms-input-placeholder
{
    opacity: .5;
}

.arbitrary-nav .search-term--input--text:-moz-placeholder
{
    opacity: .5;
}









/* ------------------------- WordPress Widgets ------------------------- */
.widget_calendar table
{
    width: 100%;
}





/* ------------------------- WordPress Admin Bar ------------------------- */
.wp-admin-bar--enabled
{
    margin-top: auto !important;
}

.apl--mnha--menu--active .main-nav--main-header-aside
{
    box-sizing: border-box;
    padding-bottom: 46px;
}

/* Narrow */
.apl--mnha--menu.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .wbp---cr
{
    padding-top: 46px;
}

.apl--mnha--menu.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .main-nav--header-aside--active
{
    padding-top: 46px;
}

.apl--mnha--menu.wp-admin-bar--enabled.vp--wp-admin-bar--narrow .main-nav--header-aside--active .main-nav--header-aside--menu-toggle
{
    margin-top: 46px;
}

/* Wide */
.apl--mnha--menu.wp-admin-bar--enabled.vp--wp-admin-bar--wide .wbp---cr
{
    padding-top: 32px;
}

.apl--mnha--menu.wp-admin-bar--enabled.vp--wp-admin-bar--wide .main-nav--header-aside--active
{
    padding-top: 32px;
}

.apl--mnha--menu.wp-admin-bar--enabled.vp--wp-admin-bar--wide .main-nav--header-aside--active .main-nav--header-aside--menu-toggle
{
    margin-top: 32px;
}

.apl--go-content-nav--active #wpadminbar
{
    z-index: 0;
}




/* ------------------------- Article ------------------------- */
.applicator--article .entry-timestamp--time-l,
.applicator--article .entry-edit--a-l
{
   border-radius: .125rem; 
}

.applicator--article .go-comments--a--count
{
   border-radius: .25rem; 
}

.applicator--article .entry-title
{
    margin-top: auto;
    margin-bottom: auto;
}

.applicator--article .post-edit-link,
.applicator--article .entry-timestamp--a,
.applicator--article .go-comments--a
{
    text-decoration: none;
}

.applicator--article .post-edit-link
{
    display: inline-block;
}

.applicator--article .entry-edit--a-l
{
    box-sizing: border-box;
    display: inline-block;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: .25rem .5rem;
    min-width: 3rem;
    min-height: 1.5rem;
    
    text-align: center;
    
    background-color: black;
    color: white;
    
    text-transform: uppercase;
    font-size: .75rem;
}

.applicator--article .entry-timestamp--time-l
{
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    padding: .5rem;
    width: 4rem;
    height: 5rem;
    
    color: black;
    
    line-height: 1;
    
    border: 1px solid black;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l,
.applicator--article .entry-timestamp--time-l .timestamp-month--l,
.applicator--article .entry-timestamp--time-l .timestamp-year--l
{
    width: 100%;
    text-align: center;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l
{
    font-size: 2.25rem;
}
.applicator--article .entry-timestamp--time-l .timestamp-month--l,
.applicator--article .entry-timestamp--time-l .timestamp-year--l
{
    font-size: .75rem;
}

.applicator--article .entry-timestamp--time-l .timestamp-day--l
{
    font-weight: bold;
}

.applicator--article .entry-timestamp--time-l .timestamp-month--l
{
    font-weight: bold;
    text-transform: uppercase;
}

.applicator--article .go-comments--a--count
{
    box-sizing: border-box;
    
    position: relative;
    
    display: block;
    padding: .25rem;
    margin-bottom: .5rem;
    min-width: 2rem;
    min-height: 1rem;
    
    text-align: center;
    
    background-color: black;
    color: white;
    
    font-weight: bold;
    font-size: .75rem;
    
    border-bottom-left-radius: 0;
}

.applicator--article .go-comments--a--count::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    
    /* Triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .5rem .5rem 0 0;
    border-color: black transparent transparent transparent;
}

.applicator--article .entry-title--a-l
{
    display: inline-block;
    
    color: black;
    
    font-size: 1.5rem;
}

.applicator--article .entry--hr--cr
{
    position: relative;
    padding-right: 4rem;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.applicator--article .pub-timestamp,
.applicator--article .entry-header .comments-snippet
{
    position: absolute;
    right: 0;
    top: 0;
}

.applicator--article .entry-header .comments-snippet
{
    margin-top: 5rem;
    padding-top: .5rem;
    
    width: 4rem;
}

.applicator--article .entry-header .comments-snippet--cr
{
    position: absolute;
}

.applicator--article .entry-meta
{
    width: 100%;
}





/* ------------------------- Go to Content Nav */
.go-content-nav,
.go-ct-nav---cr,
.go-ct-nav---ct,
.go-ct-nav---ct_cr
{
    width: 100%;
    height: 100%;
}

.go-content-nav
{
    position: fixed;
    left: 0;
    top: 0;
}

.go-ct-nav---cr
{
    background-color: white;
    background-color: hsla(0, 100%, 100%, .75);
}

.go-content-navi
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
}

.go-ct-navi---a,
.go-ct-navi---a_l
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.go-ct-navi---a
{
    padding: .25rem;
    
    min-width: 3rem;
    min-height: 3rem;
    
    text-decoration: none;
    
    color: white;
}

.go-ct-navi---a_l
{
    padding: .5rem .75rem;
    
    min-height: 36px;
    
    background-color: #00aaff;
    border-radius: .25rem;
}

/* Text Spacing */
.go-ct-navi---a_l > *
{
    margin-left: .15em;
    margin-right: .15em;
}

.go-ct-navi---a_l > *:first-child
{
    margin-left: 0;
}

.go-ct-navi---a_l > *:last-child
{
    margin-right: 0;
}


/* Status */
.apl--go-content-nav--active
{
    overflow: hidden;
}

.go-content-nav--inactive
{
    opacity: 0;
    z-index: -1;
}

.go-content-nav--active
{
    opacity: 1;
    z-index: 99;
}

.go-content-nav--inactive .go-ct-nav---cr
{
    background-color: transparent;
}





/* ------------------------- Web Product Info */
.wbp-info---cr
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    height: 3rem;
    
    overflow: hidden;
}

.apl--mnha--menu .wbp-info---cr
{
    padding-left: 3rem;
}

.apl--search .wbp-info---cr
{
    padding-right: 3rem;
}

.wbp-logo--enabled .wbp-info---cr
{
    position: relative;
}

.wbp-logo--enabled .wbp-name,
.wbp-logo--enabled .wbp-desc
{
    box-sizing: border-box;
    
    padding-left: 2.75rem;
    padding-right: .5rem;
}

.apl--mnha--menu--active .wbp-name,
.apl--mnha--menu--active .wbp-logo,
.apl--mnha--menu--active .wbp-desc
{
    position: relative;
    z-index: 1;
}

/* Text Truncate */
.wbp-name,
.wbp-desc
{
    max-width: 100%;
}

.wbp-name---a_l,
.wbp-desc---a_l
{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}





/* ------------------------- Web Product Name */
.wbp-name--h
{
    /* Reset */
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    
    font-size: 1.125rem;
}

.wbp-name---a
{
    color: white;
    
    text-decoration: none;
}

.wbp-desc--empty .wbp-name---a_l
{
    box-sizing: border-box;
    
    display: inline-block;
    
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    max-width: 100%;
    
    vertical-align: middle;
}





/* ------------------------- Web Product Logo  */
.wbp-logo
{
    position: absolute;
    top: 50%;
    margin-top: -1.125rem;
    height: 2.25rem;
}

.custom-logo
{
    width: auto;
    height: 100%;
    max-width: none;
}





/* ------------------------- Web Product Description */
.wbp-desc
{
    margin-top: -.5rem;
}

.wbp-desc---a
{
    text-decoration: none;
}

.wbp-desc---a_l
{
    font-size: .75rem;
}





/* ------------------------- Copyright Info */
.wbp-copyright
{
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
    
    min-height: 3rem;
}

.wbp-copyright---g_l
{
    text-align: center;
    
    color: gray;
    color: hsla(0, 0%, 0%, .5);
    
    font-size: .75rem;
}

.wbp-copyright--name---word
{
    font-weight: bold;
}

.wbp-copyright--tm---line
{
    white-space: nowrap;
}

.apl--go-start-nav--active .wbp-copyright
{
    padding-left: 3rem;
    padding-right: 3rem;
}





/* ------------------------- Go to Start Nav */
.go-start-navi---a,
.go-start-navi---a_l
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.go-start-navi---a
{
    color: black;
}

.go-start-navi---a_l
{
    min-width: 3rem;
    min-height: 3rem;    
}

.go-start-navi
{
    position: fixed;
    right: 0;
    bottom: 0;
    
    transition: all .2s ease-in-out;
}

.go-start-navi---a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.go-start-nav--inactive .go-start-navi
{
    transform: translateY( 100% );
}

.go-start-nav--active .go-start-navi
{
    transform: translateY( 0 );
}


.next-coms-navi---a_l .arrow--icon
{
    transform: rotate( -90deg );
}


.prev-coms-navi---a_l .arrow--icon
{
    transform: rotate( 90deg );
}





.apl--mnha--menu--active
{
    overflow: hidden;
}