/* Mobile First!!! */




/* ------------------------- Visually Hidden ------------------------- */
/* For Accessibility */

.visuallyhidden,

.wbp-desc,
.search-toggle--a-l
{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}




html
{
    /* Typography */
    font-family: 'Noto Sans', sans-serif;
}



/* ------------------------- Reset Lists ------------------------- */
.reset-list,

.main-nav ul,
.widget_nav_menu ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}


.svg-fallback
{
    display: none;
}




/* ------------------------- Reset Forms ------------------------- */
.input--text
{
    padding: 0;
    margin: 0;
    border: 0;
}

.input--text,
.form--a
{
    width: 100%;
}


/* ------------------------- Anchors ------------------------- */

/* Reset */
.wbp-name--a,
.entry--ct-cr a,
.page_item a,
.menu-item a
{
    text-decoration: none;
}

.entry--ct-cr a
{
    box-shadow: inset 0 -1px 0 black;
    transition: color 160ms ease-in-out, box-shadow 160ms ease-in-out;
}

.entry--ct-cr a:hover
{
    box-shadow: inset 0 0 0 hsla(0, 0%, 0%, 0), 0 2px 0 hsla(0, 0%, 0%, 1);
}


/* ------------------------- Search ------------------------- */
.dom--unready .main-nav--main-header-aside .search-form,
.search--inactive .search-form,
.search-input--empty .search-form-reset--a
{
    display: none;
}

.search-toggle--a
{
    padding: 0;
    margin: 0;
    border: 0;
    
    min-width: 2rem;
    min-height: 2rem;
    
    background-color: transparent;
}



/* ------------------------- Nav ------------------------- */

/* Positioning of nav items */
/* flex-wrap enables the item with large width to wrap - in this case the Sub-Menu */
.main-nav .page_item,
.main-nav .menu-item,
.widget_nav_menu .menu-item
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/* To push the <button> to the right */
.main-nav a,
.widget_nav_menu a
{
    display: flex;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
}


/* Minimum height of the active area */
.main-nav a,
.widget_nav_menu a,

.main-nav .sub-nav-toggle--a,
.widget_nav_menu .sub-nav-toggle--a
{
    padding: .5rem;
    min-height: 2rem;
}


/* For flex-wrap to take effect */
.main-nav .page_item_has_children > .children,
.main-nav .menu-item-has-children > .sub-menu,

.widget_nav_menu .menu-item-has-children > .sub-menu
{
    width: 100%;
}


/* To position the icons inside the <button> */
.main-nav .sub-nav-toggle--a,
.widget_nav_menu .sub-nav-toggle--a
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav .page_item_has_children > .children > .page_item,
.main-nav .menu-item-has-children > .sub-menu > .menu-item,

.widget_nav_menu .menu-item-has-children > .sub-menu > .menu-item
{
    padding-left: .5rem;
}

/* Smaller icons */
.main-nav .sub-nav-toggle--a .arrow--icon,
.widget_nav_menu .sub-nav-toggle--a .arrow--icon
{
    width: .75rem;
    height: .75rem;
}