/*------------------ Visually Hidden ------------------*/
.visually-hidden
{
    position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;
}





/*------------------ Unlist ------------------*/
.unlist,
.page-nav ul,
.entry-nav---grp,
.post-nav---grp,
.breadcrumbs-nav---grp,
.comments-nav---grp
{
    list-style: none;
    margin: 0;
    padding: 0;
}





.space---sep
{
    margin: 0 !important;
}





/*------------------ Active Area (AA) ------------------*/
.active-area,
.page-navi---a_l,
.adjacent-navi---a_l,
.entry-navi---a_l,
.post-navi---a_l,
.breadcrumbs-navi---a_l,
.breadcrumbs-navi---g,
.comments-navi---a_l,
.main-post-title---a_l,
.author-name---a_l,
.author-avatar---a_l,
.post-pub-d-stamp-dtstamp---a_l,
.post-mod-d-stamp-dtstamp---a_l,
.post-pub-t-stamp-dtstamp---a_l,
.post-mod-t-stamp-dtstamp---a_l,
.comments-count-axn---a_l,
.add-com-axn---a_l,
.show-more-glabel---g_l,
.edit-post-axn---a_l,
.entry-navi---a_l
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    min-width: 3rem;
    min-height: 3rem;
}

.post-pub---ct_cr,
.post-mod---ct_cr,
.published-post-author---ct_cr,
.published-com-commenter---ct_cr,
.post-author---ct_cr,
.commenter---ct_cr
{
    display: inline-flex;
    flex-wrap: wrap;
    
    align-items: baseline;
}



/*------------------ Widgets ------------------*/
.widget---h
{
    padding: var(--spacing--content-y-gutter) var(--spacing--x-gutter);
}

/* Negations */
.widget_media_image,
.widget_pages.sub-nav-func 
{
    padding: 0;
}





/*------------------ Avatar ------------------*/
.author-avatar---a_l,
.commenter-avatar---a_l
{
    display: block;
    
    padding: 0;
    
    width: 3rem;
    height: 3rem;
    
    border-radius: 50%;
    overflow: hidden;
}




/*------------------ Post, Comment, Widget Content ------------------*/
.post,
.comment,
.widget
{
    padding-top: var(--spacing--section-y-gutter);
    padding-bottom: var(--spacing--section-y-gutter);
}


.post-excerpt---ct_cr > *,
.comment-content---ct_cr > *,
.widget---cr > *
{
    margin: 0;
    padding: var(--spacing--content-y-gutter) var(--spacing--x-gutter);
}

/* Negations */
.post-content---ct_cr > .content--table,
.post-content---ct_cr > .content--embed,
.post-excerpt---ct_cr > .excerpt-link,
.widget---cr > img,
.sub-nav-func .widget---cr > ul,
.post-content---ct_cr > figure
{
    padding-left: 0;
    padding-right: 0;
}

.post-content---ct_cr > ul,
.post-content---ct_cr > ol,
.comment-content---ct_cr > ul,
.comment-content---ct_cr > ol,
.widget---cr > ul,
.widget---cr > ol
{
    padding-left: 2.5em;
}

.post-content---ct_cr > * ul,
.comment-content---ct_cr > * ul
{
    padding-left: 2em;
}

.post-content .wp-audio-shortcode
{
    box-sizing: border-box;
    
    padding-left: 0;
    padding-right: 0;
}

.post-content---ct_cr > .content--pre
{
    padding-left: 0;
    padding-right: 0;
}

.content--pre pre
{
    padding: 2em var(--spacing--x-gutter);
}

.post-content---ct_cr > .content--image
{
    padding: 0;
}

.post-excerpt---ct_cr
{
    padding-left: var(--spacing--x-gutter);
    padding-right: var(--spacing--x-gutter);
}

.show-more-glabel
{
    padding-top: var(--spacing--content-y-gutter);
    padding-bottom: var(--spacing--content-y-gutter);
}







.post-pub---cr,
.post-mod---cr,
.published-post-author---cr,
.post-categories-glabel,
.post-tags-glabel,
.comments-count-axn,
.add-comment-axn,
.note,
.edit-post-action,
.post-content .wp-caption-text,
.entry-navi
{
    padding: var(--spacing--content-y-gutter) var(--spacing--x-gutter);
}





/*------------------ Entry Nav ------------------*/
.entry-nav---grp
{
    display: flex;
    flex-wrap: wrap;
}











/*------------------ Links ------------------*/

/* Content */
.post a,
.comment a,
.widget a,

/* Nav */
.page-nav a,
.entry-nav a,
.post-nav a,
.breadcrumbs-nav a,
.comments-nav a
{
    color: var(--link-generic--color);
    
    text-decoration: none;
}

/* Content */
.post a:hover,
.comment a:hover,
.widget a:hover,

/* Nav */
.page-nav a:hover,
.entry-nav a:hover,
.post-nav a:hover,
.breadcrumbs-nav a:hover,
.comments-nav a:hover
{
    color: var(--link-generic--color--hover);
    
    text-decoration: underline;
}





/*------------------ Text Spacing ------------------*/
.post-pub---ct_cr > *,
.post-mod---ct_cr > *,
.published-post-author---ct_cr > *,
.published-com-commenter---ct_cr > *,
.post-author---ct_cr > *,
.commenter---ct_cr > *,
.navi .a_l > *,
.page-nav .a_l > *,
.post-pub-d-stamp-dtstamp---a_l > *,
.post-mod-d-stamp-dtstamp---a_l > *,
.comments-count-axn---a_l > *,
.add-com-axn---a_l > *,
.show-more-glabel---g_l > *,
.edit-post-axn---a_l > *,
.entry-navi---a_l > *
{
    margin-left: .15em;
    margin-right: .15em;
}

.post-pub---ct_cr > *:first-child,
.post-mod---ct_cr > *:first-child,
.published-post-author---ct_cr > *:first-child,
.published-com-commenter---ct_cr > *:first-child,
.post-author---ct_cr > *:first-child,
.commenter---ct_cr > *:first-child,
.navi .a_l > *:first-child,
.page-nav .a_l > *:first-child,
.post-pub-d-stamp-dtstamp---a_l > *:first-child,
.post-mod-d-stamp-dtstamp---a_l > *:first-child,
.comments-count-axn---a_l > *:first-child,
.add-com-axn---a_l > *:first-child,
.show-more-glabel---g_l > *:first-child,
.edit-post-axn---a_l > *:first-child,
.entry-navi---a_l > *:first-child
{
    margin-left: 0;
}

.post-pub---ct_cr > *:last-child,
.post-mod---ct_cr > *:last-child,
.published-post-author---ct_cr > *:last-child,
.published-com-commenter---ct_cr > *:last-child,
.post-author---ct_cr > *:last-child,
.commenter---ct_cr > *:last-child,
.navi .a_l > *:last-child,
.page-nav .a_l > *:first-child,
.post-pub-d-stamp-dtstamp---a_l > *:last-child,
.post-mod-d-stamp-dtstamp---a_l > *:last-child,
.comments-count-axn---a_l > *:last-child,
.add-com-axn---a_l > *:last-child,
.show-more-glabel---g_l > *:last-child,
.edit-post-axn---a_l > *:last-child,
.entry-navi---a_l > *:last-child
{
    margin-right: 0;
}





/*------------------ Page Nav ------------------*/
.page-nav---cr
{
    padding-top: var(--spacing--section-y-gutter);
    padding-bottom: var(--spacing--section-y-gutter);
}

.page-nav ul
{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.page-navi---a_l,
.page-nav .adjacent-navi---a_l
{
    padding-left: var(--spacing--x-gutter);
    padding-right: var(--spacing--x-gutter);
}





/*------------------ Table ------------------*/
.post-content th,
.post-content td
{
    padding: var(--spacing--content-y-gutter) var(--spacing--x-gutter);
}





/*------------------ Applicator Table Theme - Stroked ------------------*/
.apl--applicator--theme--table--stroked
{
    --table-stroke--color--max: hsla( 0, 0%, 0%, .25 );
    --table-stroke--color--med: hsla( 0, 0%, 0%, .125 );
    --table-stroke--color--min: hsla( 0, 0%, 0%, .0625 );
    --table-line--md: 2px solid var(--table-stroke--color--med);
    --table-line--sm: 1px solid var(--table-stroke--color--min);
}

.apl--applicator--theme--table--stroked .post-content tbody
{
    border: var(--table-line--md);
    border-left: 0;
    border-right: 0;
}

.apl--applicator--theme--table--stroked .post-content tfoot
{
    border: var(--table-line--md);
    border-left: 0;
    border-right: 0;
}

/* Table Header */
.apl--applicator--theme--table--stroked .post-content th
{
    border: 0;
    
    text-align: left;
    vertical-align: bottom;
}

.apl--applicator--theme--table--stroked .post-content td
{
    border: var(--table-line--sm);
    
    border-right: 0;
    border-bottom: 0;
}

.apl--applicator--theme--table--stroked .post-content td:first-child
{
    border-left: 0;
}

/* Table Footer */
.apl--applicator--theme--table--stroked .post-content tfoot
{
    border-top: 0;
    border-color: var(--table-line--md);
}