/*------------------ Visually Hide ------------------*/
.entry---hr .entry-nav,
.entries---hr .page-nav,

.post-pub-t-stamp-dtstamp,
.post-mod-t-stamp-dtstamp,
.post-pub-d-t-stamp---ct_cr .comma---sep,
.post-mod-d-t-stamp---ct_cr .comma---sep,

.comment-published-time-stamp-dtstamp,
.comment-pub-d-t-stamp---ct_cr .comma---sep,

.published-post-author .published---txt,
.published-post-author .by---txt,
.published-post-author .space---sep,

.blog .main-content-heading,
.page .main-content-heading,
.single .main-content-heading,
.error404 .main-content-heading,

.edit-post-action .post-title---txt,
.edit-comment-action .comment-title---txt,

.entry-nav---grp .entry---txt,
.entry-nav---grp .colon---sep,

.published-comment-glabel,
.published-commenter-glabel,
.published-com-commenter---h,

.post-modified-glabel,

.post-published,

.post-categories-glabel,
.post-tags-glabel,

.signed-in-acct---hr,

.comment-reply-cancel-axn---a_l .reply---txt,
.comment-reply-cancel-axn---a_l .to---txt,
.comment-reply-cancel-axn---a_l .comment---txt,

.comment-creation-heading,

.commenter-comment-creation-flabel,

.comment-reply-link .to---txt,
.comment-reply-link .comment---txt,

.show-more-axn .value---line,
.show-more-axn .show---txt,
.show-more-axn .of---txt,

.show-more-glabel .value---line,
.show-more-glabel .show---txt,
.show-more-glabel .of---txt,

.page-nav .page---txt,

/* Comments */
.comments-population--empty .comments-empty-note,

.post-header-aside .comment-creation-ability--disabled .comment-creation-ability,

.comment-reply-axn .to---txt,
.comment-reply-axn .comment---txt,

.comments---hr .comments-nav,

.comments---h
{position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;}





/*------------------ Clearfix ------------------*/
.clearfix:before,
.clearfix:after
{
    content: " ";
    display: table;
}

.clearfix:after
{
    clear: both;
}


/*------------------ Unlist ------------------*/
.entry-nav---grp,
.apl-categories ul,

.post-tags---grp,
.page-nav ul,
.comments-nav---grp,
.breadcrumbs-nav---grp,
.post-nav---grp
{
    list-style: none;
    margin: 0;
    padding: 0;
}


/*------------------ Active Areas (AA) ------------------*/
.edit-post-axn---a_l,
.edit-com-axn---a_l,
.add-com-axn---a_l,

.next-entry-navi .property---line,
.next-entry-navi .value---line,
.previous-entry-navi .property---line,
.previous-entry-navi .value---line,

.parent-post-navigation-glabel---g_l,


.page-navi---a_l,
.page-nav .adjacent-navi---a_l,
.page-nav .dots,
.next-comments-navi---a_l,
.previous-comments-navi---a_l,
.breadcrumbs-navi---a_l,
.breadcrumbs-navi---g_l,

.comments-count-axn-axn---a_l,
.comments-count-axn---a_l,
.apl-categories a,
.apl-tags a,
.comment-reply-axn---a_l,
.account-log-out-axn---a_l,

/* Comment Respond */
.comment-reply-cancel-axn---a_l,

.comment-creation-glabel---g_l,
.post-navi a,
.post-navi---g,
.show-more-axn---a_l,
.show-more-glabel---g_l,

.widget_calendar tfoot a,

/* Author */
.author-name---a_l,
.author-avatar---a_l,
.commenter-name---a_l,
.commenter-avatar---a_l,

.main-post-title---a_l,
.comment-title---a_l,

/* Signed In Account */
.signed-in-account-name---a_l,
.signed-in-account-glabel---g_l,

.main-post-title---h_l
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 1rem;
    padding-right: 1rem;
    
    min-width: 3rem;
    min-height: 3rem;
}





/*------------------ Navigation ------------------*/
.post-nav---grp,
.page-nav ul
{
    display: flex;
    flex-wrap: wrap;
}

.page-navi---a_l,
.page-nav .adjacent-navi---a_l
{
    
    border-radius: .125rem;
}

.page-nav li
{
    padding: .5rem;
}

.page-nav .current .page-navi---a_l
{
    font-weight: bold;
}

.breadcrumbs-navi
{
    display: flex;
}

.parent-post-navigation-glabel,
.post-navi
{
    display: inline-block;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.next-comments-navi,
.previous-comments-navi
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.parent-post-navigation-glabel---g_l
{
    margin-right: -2rem;
}





/* ------------------------- Text Spacing */
.add-com-axn---a_l > .txt,
.comment-creation-glabel---g_l > .txt,
.comment-reply-axn---a_l .line,
.comment-reply-axn---a_l .line > .txt,
.next-comments-navi---a_l > .txt,
.previous-comments-navi---a_l > .txt,
.search-results .main-content-heading---h_l .line
{
    margin-left: .15em;
    margin-right: .15em;
}

.add-com-axn---a_l > .txt:first-child,
.comment-creation-glabel---g_l > .txt:first-child,
.comment-reply-axn---a_l .line:first-child,
.comment-reply-axn---a_l .line > .txt:first-child,
.next-comments-navi---a_l > .txt:first-child,
.previous-comments-navi---a_l > .txt:first-child,
.search-results .main-content-heading---h_l .line:first-child
{
    margin-left: 0;
}

.add-com-axn---a_l > .txt:last-child,
.comment-creation-glabel---g_l > .txt:last-child,
.comment-reply-axn---a_l .line:last-child,
.comment-reply-axn---a_l .line > .txt:last-child,
.next-comments-navi---a_l > .txt:last-child,
.previous-comments-navi---a_l > .txt:last-child,
.search-results .main-content-heading---h_l .line:last-child
{
    margin-right: 0;
}

.comment-reply-axn---a_l .line .open-parenthesis---txt,
.comment-reply-axn---a_l .line .txt:nth-last-child(2)
{
    margin-right: 0;
}

.comment-reply-axn---a_l .line .close-parenthesis---txt,
.comment-reply-axn---a_l .line .txt:nth-child(2)
{
    margin-left: 0;
}



/*------------------ Reset Headings ------------------*/
.main-post-title---h,
.main-content-heading---h,
.comment-title---h
{
    margin: 0;
}











/*------------------ Author, Commenter ------------------*/
.post-published-glabel .by---txt
{
    text-transform: capitalize;
}

.published-post-author---ct_cr
{
    display: flex;
    align-items: center;
}

.post-author---ct_cr,
.commenter---ct_cr
{
    display: flex;
    align-items: center;
}

.post-author---ct_cr .author-name,
.commenter-name
{
    order: 1;
}

.author-avatar,
.commenter-avatar
{
    margin-right: -1.5rem;
    padding: 0 1rem;
}

/* Circular Avatar */
.author-avatar---a_l,
.commenter-avatar---a_l
{
    display: block;
    
    padding: 0;
    
    border-radius: 50%;
    overflow: hidden;
}

.commenter-avatar---a_l
{
    width: 2.25rem;
    min-width: 2.25rem;
    min-height: 2.25rem;
}

.post-pub---ct_cr,
.post-mod---ct_cr
{
    display: flex;
}

.post-published-date-and-time-stamp
{
    margin-left: .25rem;
}

.show-more-axn,
.show-more-glabel
{
    font-size: 1rem;
}

.show-more-axn---a_l,
.show-more-glabel---g_l
{   
    border-radius: .125rem;
}

.post-content figure
{
    display: block;
}

.show-more-glabel
{
    padding-top: 1rem;
}





/*------------------ Post Header ------------------*/
.post---hr_cr,
.comment---hr_cr
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post-header-aside,
.comment-header-aside,
.breadcrumbs-nav
{
    flex: 1 100%;
}



/*------------------ Comments ------------------*/
.comment-title
{
    display: none;
}

.logged-in .comment-title
{
    display: block;
}

.comment-form .form-submit
{
    padding-bottom: 1rem;
}

.comments-header-aside .comments-count-axn .comment---txt,
.comments-header-aside .comments-count-axn .comments---txt
{
    font-size: 1.5rem;
    font-weight: bold;
    
    color: black;
}

.signed-in-acct---cr
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.comment-respond
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.comment-respond .sign-in-required-note
{
    flex: 1 100%;
}

.comment-form
{
    flex: 1 100%;
}

.comment-form .form-submit
{
    margin: 0;
}

.comment-creation-ability--disabled .comment-creation-ability
{
    flex: 1 100%;
}

.comment-creation-glabel---g_l
{
    font-size: 1.125rem;
    font-weight: bold;
}

.comments-nav---grp
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.next-comments-navi
{
    order: 1;
}

.comment-form .commenter-com-crt-input-text
{
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    min-height: 5rem;
}

.comment-creation-ability .sign-in-required-note
{
    display: inline-block;
    transform: translateX( -.75rem);
}

.comments-axns-snip---ct_cr
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.commenter-url-creation-flabel .note---line
{
    font-size: .75rem;
    
    color: hsla( 0, 0%, 0%, .65);
}

.comment---ct_cr > ul
{
    list-style: disc;
}

.comment---ct_cr a
{
    text-decoration: none;
}

.comment---ct_cr a:hover
{
    text-decoration: underline;
}





/*------------------ Comment Respond ------------------*/
.comment-respond
{   
    background-color: white;
    
    border-radius: .125em;
}

.commenter-comment-creation-text-input,
.post-content .search-term-crt-search-text-input,
.aside .search-term-crt-search-text-input
{
    padding: 1rem;
}

.commenter-comment-creation-text-input
{
    padding-bottom: calc( 1rem - .25rem );
}

/* Form Actions (WPg) */
.comment-form .form-submit,
.post-content .search-form-search-axn,
.aside .search-form-search-axn
{
    padding: 2em 1em;
    margin-top: -1rem;
}

/* Form Elements */
.commenter-name-creation-text-input,
.commenter-email-creation-text-input,
.commenter-url-creation-text-input
{
    padding: 1rem;
}

/* Form Labels */
.commenter-name-creation-flabel,
.commenter-email-creation-flabel,
.commenter-url-creation-flabel
{
    display: inline-block;
    padding: .5rem 1rem;
    
    margin-bottom: -1rem;
}

.comment-creation-glabel,
#cancel-comment-reply-link
{
    padding: 1em 0;
}

.logged-in .comment-creation-glabel,
.logged-in #cancel-comment-reply-link
{
    margin-bottom: -2em;
}

/* Validation */
.comment-form .validity-note
{
    padding: 1em;
    margin-top: -1em;
}

.comment-form .validity-note---g_l
{
    color: #f22424;
}

.comment-form .creation--invalid .input-text
{
    border-color: #f22424;
    border-width: 2px;
}

.comment-form .creation--valid .input-text
{
    border-color: #12b32d;
    border-width: 2px;
}

.signed-in-account-glabel---g_l
{
    margin-right: -2rem;
}

.signed-in-account-glabel,
.signed-in-account-name,
.account-log-out-axn
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}











/*------------------ Comments Actions Snippet ------------------*/
.comments-count-axn,
.add-comment-axn
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.comments-count-axn---a_l .comments-count---txt
{
    order: 1;
    margin-left: .3rem;
}







/*------------------ Entry Nav ------------------*/
.entry-nav---grp
{
    display: flex;
    justify-content: space-between;
}

.entry-nav---grp .navi
{
    flex: 1 50%;
}

.next-entry-navi
{
    order: 1;
}

.next-entry-navi---a_l,
.previous-entry-navi---a_l
{
    display: flex;
    flex-wrap: wrap;
}

.next-entry-navi---a_l
{
    text-align: right;
}

.entry-nav---grp .property---line,
.entry-nav---grp .value---line
{
    flex: 1 100%;
}

.entry-nav---grp .previous---txt,
.entry-nav---grp .next---txt
{
    color: black;
    
    font-size: .75rem;
    text-transform: uppercase;
}

.next-entry-navi .line
{
    justify-content: flex-end;
}

.previous-entry-navi .line
{
    justify-content: flex-start;
}

.entry-nav---grp .property---line
{
    margin-bottom: -1rem;
}










.post-content a,
.post---hr a,
.comments---hr a,
.post-tag a,
.comment---hr a,
.next-entry-navi a,
.previous-entry-navi a,
.post-navi a,
.page-nav a,
.comment-reply-axn a,
.note a,
.next-comments-navi a,
.previous-comments-navi a,
#cancel-comment-reply-link,
.widget a,
.account-log-out-axn---a,
.signed-in-account-name---a
{
    text-decoration: none;
}


/*------------------ Colors ------------------*/
.post-content a,
.comment---ct_cr a,
.post---hr a,
.comments---hr a,
.post-tag a,
.excerpt-link,
.comment---hr a,
.next-entry-navi a,
.previous-entry-navi a,
.post-navi a,
.page-nav a,
.page-nav .current,
.comment-reply-axn .reply-to-comment---line,
.note a,
.next-comments-navi a,
.previous-comments-navi a,
#cancel-comment-reply-link,
.account-log-out-axn---a,
.signed-in-account-name---a,
.widget a
{
    color: #005fe6;
    color: hsl(215, 100%, 45%);
}

.post-content a:hover,
.post---hr a:hover,
.post-tag a:hover,
.excerpt-link:hover,
.comment---hr a:hover,
.next-entry-navi a:hover,
.previous-entry-navi a:hover,
.post-navi a:hover,
.page-nav a:hover,
.page-nav .current:hover,
.comment-reply-axn .reply-to-comment---line:hover,
.note a:hover,
.next-comments-navi a:hover,
.previous-comments-navi a:hover,
#cancel-comment-reply-link:hover,
.account-log-out-axn---a:hover,
.signed-in-account-name---a:hover,
.widget a:hover
{
    color: #0044cc;
    color: hsl(220, 100%, 40%);
}

.edit-post-axn---a_l,
.edit-com-axn---a_l,
.comments-count---txt,
.search-results-count---txt
{
    background-color: #005fe6;
    background-color: hsl(215, 100%, 45%);
    color: white;
}

.edit-post-axn---a_l:hover,
.comments-count---txt:hover
{
    background-color: #0044cc;
    background-color: hsl(220, 100%, 40%);
    color: white;
}

.show-more-axn---a_l,
.show-more-glabel---g_l
{
    background-color: #12b32d;
    background-color: hsl(130, 82%, 38%);
    color: white;
}

.show-more-axn---a_l:hover,
.show-more-glabel---g_l:hover
{
    background-color: #12b32d;
    background-color: hsl(130, 82%, 28%);
    color: white;
}

.search-results-term---txt,
.archive .value---line
{
    color: #12b32d;
}

.search-no-results .search-results-term---txt
{
    color: #f22424;
}
    



.comment-pub-d-stamp-dtstamp---a_l,
.page-navi---a_l,
.page-nav .adjacent-navi---a_l
{
    border: 1px solid hsl(215, 100%, 45%);
}

.page-nav .current .page-navi---a_l
{
    border-width: 2px;
}

.comment-reply-axn .sign-in-required---line
{
    color: black;
}





/*------------------ Categories ------------------*/
.apl-categories ul
{
    display: flex;
    flex-wrap: wrap;
    
    padding: .75em .75rem;
    
    font-size: .875rem;
}

.apl-categories li
{
    padding: .25em;
}

.apl-categories a
{
    position: relative;
    
    min-height: 2rem;
    
    border: 1px solid hsl(215, 100%, 45%);
    
    border-radius: .125rem;

}








/*------------------ Tags ------------------*/
.post-tags---grp
{
    display: flex;
    flex-wrap: wrap;
    
    padding: .75em .75rem;
    
    font-size: .875rem;
}

.apl-tags .post-tag
{
    padding: .25em;
}

.apl-tags a
{
    position: relative;
    
    padding-left: 1.5em;
    
    min-height: 2rem;
    
    background-color: #005fe6;
    background-color: hsl(215, 100%, 45%);
    color: white;
    
    border-radius: .125rem;
}

.apl-tags a:hover
{
    background-color: #0044cc;
    background-color: hsl(220, 100%, 40%);
    color: white;
}

.apl-tags a::before
{
    content: '#';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    margin-left: .75em;
    
    color: white;
}



/*------------------ Timestamp ------------------*/
.post-mod-d-stamp-dtstamp---a_l,
.comment-pub-d-stamp-dtstamp---a_l
{
    display: block;
    padding: .25em .75em;
    
    border: 1px solid hsl(215, 100%, 45%);
    border-radius: .125rem;
    
    font-size: .75rem;
    line-height: 1;
}

.post-modified-date-stamp-dtstamp .txt,
.comment-published-date-stamp-dtstamp .txt
{
    display: block;
    
    text-align: center;
}

.post-modified-date-stamp-dtstamp .day---txt,
.comment-published-date-stamp-dtstamp .day---txt
{
    font-size: 2em;
}

.post-modified-date-stamp-dtstamp .month---txt,
.comment-published-date-stamp-dtstamp .month---txt
{
    font-weight: bold;
    text-transform: uppercase;
}

.post-modified-date-stamp-dtstamp .year---txt
{
    font-size: .875em;
}

.comment-published-date-stamp-dtstamp .year---txt
{
    font-size: .75em;
}

.post-modified-date-stamp-dtstamp,
.comment-published-date-stamp-dtstamp
{
    display: block;
    
    padding: 1rem;
}






.post-header-aside .post-meta---ct_cr,
.comment-header-aside .comment-meta---ct_cr
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/*
.apl-post-categories
{
    flex: 1 100%;
}
*/

.post-published-modified,
.comment-published
{
    margin-right: -1rem;
}





/*------------------ Content ------------------*/
.post-content---ct,
.post-excerpt---ct,
.comment---ct
{
    font-size: 1.125rem;
}

/* Select all elements */
.post-content---ct_cr > *,
.post-excerpt---ct_cr > *,
.comment---ct_cr > *
{
    margin: 0;
    padding: .5em 1rem;
}

/* Cancel Out */
.post-content---ct_cr > figure,
.post-content---ct_cr > .attachment,
.post-content---ct_cr > .search
{
    padding-left: 0;
    padding-right: 0;
}

/* Lists */
.post-content---ct_cr > ul,
.post-content---ct_cr > ol,
.comment---ct_cr > ul,
.comment---ct_cr > ol
{
    padding: 0;
    padding-left: 2.25em;
}

.post-content---ct_cr li,
.comment---ct_cr li
{
    padding: .25em 1rem;
}

.post-content---ct_cr li li,
..comment---ct_cr li li
{
    margin-right: -1rem;
}

.post-content---ct_cr li:first-child,
.comment---ct_cr li:first-child
{
    padding-top: .5em;
}

.post-content---ct_cr li li:first-child,
.comment---ct_cr li li:first-child
{
    padding-top: .25em;
}

.post-content---ct_cr li:last-child,
.comment---ct_cr li:last-child
{
    padding-bottom: .5em;
}

.post-content---ct_cr li li:last-child,
.comment---ct_cr li li:last-child
{
    padding-bottom: .25em;
}

/* Images */
.content--image
{
    padding: 0;
}

.content--image + figure
{
    padding-top: 0;
}

.content--image + .content--image
{
    padding-top: 0;
}

p + .content--image
{
    padding-top: .5em;
}

.content--image + p
{
    padding-top: 1em;
}

.content--image img
{
    margin: 0;
}

/* Main Content Heading */
.main-content-heading
{
    padding: 1rem;
}

/* Pre */
.post-content---ct_cr pre
{
    margin: 0;
    padding: 2rem 1rem;
}

.content--pre
{
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    
    max-width: 100vw;
}

.edit-post-axn
{
    padding: 1rem;
}

/* Table */
.content--table
{
    padding-left: 0;
    padding-right: 0;
    
    max-width: 100vw;
    overflow-x: auto;
}

.post-content table
{
    width: 100%;
}

.post-content td,
.post-content th
{
    padding: .5rem 1rem;
    
    border: 1px solid hsla( 0, 0%, 0%, .125 );
}







/*------------------ Layout Spacing ------------------*/
.published-comment-commenter---cr,


.excerpt-link,
.comments---h_l,

.widget:not(.widget_nav_menu) .widget---cr > *:not(ul):not(ol)
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.entries .article,
.entry .article,
.comment .article,
.aside .widget
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.wp-caption-text
{
    padding: .5rem 1rem;
    
    color: hsla( 0, 0%, 0%, .65);
    
    font-size: .875rem;
}

.page-nav---cr
{
    padding: calc( 1rem - .5rem);
}



/*------------------ Notes ------------------*/
.note .g_l,
.sign-in-required---line
{
    font-size: .875rem;
}

.note .g_l > *
{
    margin: 0;
}

.comments-empty-note,
.comment-respond .sign-in-required-note,
.comment-unapproved-note,
.commenting-disabled-note
{
    padding: 1em 1rem;
}

.comments-empty-note---g,
.comment-respond .sign-in-required-note---g,
.comment-unapproved-note---g,
.commenting-disabled-note---g
{
    padding: 1em;
    
    background-color: hsla( 0, 0%, 50%, .0625);
    
    border-radius: .125rem;
}







/*------------------ Post Banner Visual ------------------*/
.post-banner-visual
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.post-banner-vis---g
{
    background-image: initial !important;
}




.search-results .main-content-heading---h_l
{
    display: flex;
    align-items: center;
}



/*------------------ Comments Count ------------------*/
.search-results-count---txt,
.comments-count---txt
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: .0625em .25em;
    
    min-width: 1em;
    min-height: 1em;
    
    font-weight: bold;
    
    border-radius: .125em;
}

.comments-count---txt
{
    font-size: .875rem;
}







/*------------------ Excerpt ------------------*/
.excerpt-link
{
    display: block;
    
    color: black;
    
    text-decoration: none;
}



/*------------------ Medium AAs ------------------*/
.edit-post-axn---a_l,
.edit-com-axn---a_l
{
    min-height: 2rem;
    
    border-radius: .125rem;
}





/*------------------ Calendar Widget ------------------*/
.widget_calendar tbody td,
.widget_calendar th
{
    padding: .5rem;
}

.widget_calendar caption
{
    padding: 1rem;
}

.widget_calendar #next
{
    text-align: right;
}

.widget_calendar #next a
{
    margin-right: -1rem;
}

.widget_calendar #prev a
{
    margin-left: -1rem;
}