/*------------------ Visually Hide ------------------*/
.entry---hr .entry-nav,
.entries---hr .page-nav,

.post-pub-t-stamp-dtstamp,
.post-mod-t-stamp-dtstamp,
.post-pub-d-t-stamp---ct_cr .comma---sep,
.post-mod-d-t-stamp---ct_cr .comma---sep,

.comment-published-time-stamp-dtstamp,
.comment-pub-d-t-stamp---ct_cr .comma---sep,

.published-post-author .published---txt,
.published-post-author .by---txt,
.published-post-author .space---sep,

.blog .main-content-heading,
.page .main-content-heading,
.single .main-content-heading,

.edit-post-action .post-title---txt,
.edit-comment-action .comment-title---txt,

.entry-nav---grp .entry---txt,
.entry-nav---grp .colon---sep,

.published-comment-glabel,
.published-commenter-glabel,
.published-com-commenter---h,

.post-modified-glabel,

.post-published,

.post-categories-glabel,
.post-tags-glabel,

.signed-in-acct---hr,

.comment-reply-cancel-axn---a_l .reply---txt,
.comment-reply-cancel-axn---a_l .to---txt,
.comment-reply-cancel-axn---a_l .comment---txt,

.comment-creation-heading,

.commenter-comment-creation-flabel,

.comment-reply-link .to---txt,
.comment-reply-link .comment---txt,

.show-more-axn .value---line,
.show-more-axn .show---txt,
.show-more-axn .of---txt,

.show-more-glabel .value---line,
.show-more-glabel .show---txt,
.show-more-glabel .of---txt,

.page-nav .page---txt,

.comments-population--empty .comments-empty-note,

.post-header-aside .comment-creation-ability--disabled .comment-creation-ability,

.comment-reply-axn .to---txt,
.comment-reply-axn .comment---txt,

.comments---hr .comments-nav,

.comments---h
{position:absolute;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;}





/*------------------ Clearfix ------------------*/
.clearfix:before,
.clearfix:after
{
    content: " ";
    display: table;
}

.clearfix:after
{
    clear: both;
}


/*------------------ Unlist ------------------*/
.entry-nav---grp,
.apl-categories ul,
.apl-tags ul,
.post-nav---grp,
.page-nav ul,
.comments-nav---grp,
.breadcrumbs-nav---grp
{
    list-style: none;
    margin: 0;
    padding: 0;
}


/*------------------ Active Areas (AA) ------------------*/
.edit-post-axn---a_l,
.edit-com-axn---a_l,
.next-entry-navi---a_l,
.previous-entry-navi---a_l,
.add-com-axn-axn---a_l,
.comments-count-axn-axn---a_l,
.comments-count-axn---a_l,
.apl-categories a,
.apl-tags a,
.comment-reply-axn---a_l,
.account-log-out-axn---a_l,
#cancel-comment-reply-link,
.comment-creation-glabel---g_l,
.post-navi a,
.post-navi---g,
.show-more-axn---a_l,
.show-more-glabel---g_l,
.page-navi---a_l,
.page-nav .adjacent-navi---a_l,
.page-nav .dots,
.next-comments-navi---a_l,
.previous-comments-navi---a_l,
.breadcrumbs-navi---a_l,
.breadcrumbs-navi---g_l,
.widget_calendar tfoot a
{
    box-sizing: border-box;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 1em;
    padding-right: 1em;
    
    min-width: 3em;
    min-height: 3em;
}





/*------------------ Navigation ------------------*/
.post-nav---grp,
.page-nav ul
{
    display: flex;
    flex-wrap: wrap;
}

.page-navi---a_l,
.page-nav .adjacent-navi---a_l
{
    
    border-radius: .125rem;
}

.page-nav li
{
    margin: .5rem;
}

.page-nav .current .page-navi---a_l
{
    font-weight: bold;
}

.breadcrumbs-navi
{
    display: flex;
}

.attachment .post-navi
{
    margin-left: -1rem;
}



/* ------------------------- Text Spacing */
.add-com-axn-axn---a_l > .txt,
.comment-creation-glabel---g_l > .txt,
.comment-reply-axn---a_l .line,
.comment-reply-axn---a_l .line > .txt,
.next-comments-navi---a_l > .txt,
.previous-comments-navi---a_l > .txt,
.search-results .main-content-heading---h_l .line
{
    margin-left: .15em;
    margin-right: .15em;
}

.add-com-axn-axn---a_l > .txt:first-child,
.comment-creation-glabel---g_l > .txt:first-child,
.comment-reply-axn---a_l .line:first-child,
.comment-reply-axn---a_l .line > .txt:first-child,
.next-comments-navi---a_l > .txt:first-child,
.previous-comments-navi---a_l > .txt:first-child,
.search-results .main-content-heading---h_l .line:first-child
{
    margin-left: 0;
}

.add-com-axn-axn---a_l > .txt:last-child,
.comment-creation-glabel---g_l > .txt:last-child,
.comment-reply-axn---a_l .line:last-child,
.comment-reply-axn---a_l .line > .txt:last-child,
.next-comments-navi---a_l > .txt:last-child,
.previous-comments-navi---a_l > .txt:last-child,
.search-results .main-content-heading---h_l .line:last-child
{
    margin-right: 0;
}

.comment-reply-axn---a_l .line .open-parenthesis---txt,
.comment-reply-axn---a_l .line .txt:nth-last-child(2)
{
    margin-right: 0;
}

.comment-reply-axn---a_l .line .close-parenthesis---txt,
.comment-reply-axn---a_l .line .txt:nth-child(2)
{
    margin-left: 0;
}



/*------------------ Reset Headings ------------------*/
.main-post-title---h,
.main-content-heading---h
{
    margin: 0;
}




/*------------------ Entry Header ------------------*/
.main-post-title---a_l
{
    display: inline;
}











/*------------------ Post Author ------------------*/
.post-published-glabel .by---txt
{
    text-transform: capitalize;
}

.published-post-author---ct_cr
{
    display: flex;
    align-items: center;
}

.post-author---ct_cr,
.commenter---ct_cr
{
    display: flex;
    align-items: center;
}

.post-author---ct_cr .author-name,
.commenter-name
{
    order: 1;
    margin-left: .25rem;
}

/* Circular Avatar */
.published-post-author .author-avatar---a_l,
.commenter-avatar---a_l
{
    display: block;
    
    width: 2rem;
    height: 2rem;
    
    border-radius: 50%;
    overflow: hidden;
}

.post-pub---ct_cr,
.post-mod---ct_cr
{
    display: flex;
}

.post-published-date-and-time-stamp
{
    margin-left: .25rem;
}

.show-more-axn,
.show-more-glabel
{
    font-size: 1rem;
}

.show-more-axn---a_l,
.show-more-glabel---g_l
{   
    border-radius: .125rem;
}

.post-content figure
{
    display: block;
}





/*------------------ Post Header ------------------*/
.post---hr_cr,
.comment---hr_cr
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post-header-aside,
.comment-header-aside,
.breadcrumbs-nav
{
    flex: 1 100%;
}



/*------------------ Comments ------------------*/
.comment-respond
{
    padding: 1rem 1rem 2rem;
    
    background-color: white;
    
    border-radius: .125rem;
}

.comments-header-aside .comments-count-axn .comment---txt,
.comments-header-aside .comments-count-axn .comments---txt
{
    font-size: 1.5rem;
    font-weight: bold;
    
    color: black;
}

.commenter-com-crt-input-text
{
    background-color: white;
}

.signed-in-acct---cr
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.comment-respond
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.comment-respond .sign-in-required-note
{
    flex: 1 100%;
}

.comment-form
{
    flex: 1 100%;
}

.comment-form .form-submit
{
    margin: 0;
}

.comment-creation-ability--disabled .comment-creation-ability
{
    flex: 1 100%;
}

.comment-creation-glabel---g_l
{
    font-size: 1.125rem;
    font-weight: bold;
}

.comments-nav---grp
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.next-comments-navi
{
    order: 1;
}

.comment-form .commenter-com-crt-input-text
{
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    min-height: 5rem;
}

.comment-creation-ability .sign-in-required-note
{
    display: inline-block;
    transform: translateX( -.75rem);
}

.comments-count-axn---a_l .comments-count---txt
{
    order: 1;
    margin-left: .3rem;
}

.comments-axns-snip---ct_cr
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.commenter-url-creation-flabel .note---line
{
    font-size: .75rem;
    
    color: hsla( 0, 0%, 0%, .65);
}





/*------------------ Entry Nav ------------------*/
.entry-nav---grp
{
    display: flex;
    justify-content: space-between;
}

.entry-nav---grp .navi
{
    flex: 1 50%;
}

.next-entry-navi
{
    order: 1;
}

.next-entry-navi---a_l,
.previous-entry-navi---a_l
{
    display: flex;
    flex-wrap: wrap;
}

.next-entry-navi---a_l
{
    text-align: right;
}

.entry-nav---grp .property---line,
.entry-nav---grp .value---line
{
    flex: 1 100%;
}

.entry-nav---grp .previous---txt,
.entry-nav---grp .next---txt
{
    color: black;
    
    font-size: .75rem;
    text-transform: uppercase;
}










.post-content a,
.post---hr a,
.comments---hr a,
.post-tag a,
.comment---hr a,
.next-entry-navi a,
.previous-entry-navi a,
.post-navi a,
.page-nav a,
.comment-reply-axn a,
.note a,
.next-comments-navi a,
.previous-comments-navi a,
#cancel-comment-reply-link,
.widget a,
.account-log-out-axn---a,
.signed-in-account-name---a
{
    text-decoration: none;
}


/*------------------ Colors ------------------*/
.post-content a,
.post---hr a,
.comments---hr a,
.post-tag a,
.excerpt-link,
.comment---hr a,
.next-entry-navi a,
.previous-entry-navi a,
.post-navi a,
.page-nav a,
.page-nav .current,
.comment-reply-axn .reply-to-comment---line,
.note a,
.next-comments-navi a,
.previous-comments-navi a,
#cancel-comment-reply-link,
.account-log-out-axn---a,
.signed-in-account-name---a,
.widget a
{
    color: #005fe6;
    color: hsl(215, 100%, 45%);
}

.post-content a:hover,
.post---hr a:hover,
.post-tag a:hover,
.excerpt-link:hover,
.comment---hr a:hover,
.next-entry-navi a:hover,
.previous-entry-navi a:hover,
.post-navi a:hover,
.page-nav a:hover,
.page-nav .current:hover,
.comment-reply-axn .reply-to-comment---line:hover,
.note a:hover,
.next-comments-navi a:hover,
.previous-comments-navi a:hover,
#cancel-comment-reply-link:hover,
.account-log-out-axn---a:hover,
.signed-in-account-name---a:hover,
.widget a:hover
{
    color: #0044cc;
    color: hsl(220, 100%, 40%);
}

.apl-tags a,
.edit-post-axn---a_l,
.edit-com-axn---a_l,
.comments-count---txt,
.search-results-count---txt
{
    background-color: #005fe6;
    background-color: hsl(215, 100%, 45%);
    color: white;
}

.apl-tags a:hover,
.edit-post-axn---a_l:hover,
.comments-count---txt:hover
{
    background-color: #0044cc;
    background-color: hsl(220, 100%, 40%);
    color: white;
}

.show-more-axn---a_l,
.show-more-glabel---g_l
{
    background-color: #12b32d;
    background-color: hsl(130, 82%, 38%);
    color: white;
}

.show-more-axn---a_l:hover,
.show-more-glabel---g_l:hover
{
    background-color: #12b32d;
    background-color: hsl(130, 82%, 28%);
    color: white;
}

.search-results-term---txt,
.archive .value---line
{
    color: #12b32d;
}

.search-no-results .search-results-term---txt
{
    color: #f22424;
}
    

.apl-categories a,
.post-mod-d-stamp-dtstamp---a_l,
.comment-pub-d-stamp-dtstamp---a_l,
.page-navi---a_l,
.page-nav .adjacent-navi---a_l
{
    border: 1px solid hsl(215, 100%, 45%);
}

.page-nav .current .page-navi---a_l
{
    border-width: 2px;
}

.comment-reply-axn .sign-in-required---line
{
    color: black;
}

.validity-note
{
    margin-top: .5rem;
}

.commenter-comment-creation .validity-note
{
    margin-top: .125rem;
}

.validity-note---g_l
{
    color: #f22424;
}

.creation--invalid .input-text
{
    border-color: #f22424;
    border-width: 2px;
}

.creation--valid .input-text
{
    border-color: #12b32d;
    border-width: 2px;
}



/*------------------ Timestamp ------------------*/
.post-mod-d-stamp-dtstamp---a_l,
.comment-pub-d-stamp-dtstamp---a_l
{
    display: block;
    padding: .25em .75em;
    
    font-size: .75rem;
    
    border-radius: .125rem;
}

.post-mod-d-stamp-dtstamp---a_l,
.comment-pub-d-stamp-dtstamp---a_l
{
    line-height: 1;
}

.post-modified-date-stamp-dtstamp .day---txt,
.post-modified-date-stamp-dtstamp .month---txt,
.post-modified-date-stamp-dtstamp .year---txt,

.comment-published-date-stamp-dtstamp .day---txt,
.comment-published-date-stamp-dtstamp .month---txt,
.comment-published-date-stamp-dtstamp .year---txt
{
    display: block;
    
    text-align: center;
}

.post-modified-date-stamp-dtstamp .day---txt,
.comment-published-date-stamp-dtstamp .day---txt
{
    font-size: 2em;
}

.post-modified-date-stamp-dtstamp .month---txt,
.comment-published-date-stamp-dtstamp .month---txt
{
    text-transform: uppercase;
}

.post-modified-date-stamp-dtstamp .year---txt,
.comment-published-date-stamp-dtstamp .year---txt
{
    font-size: .875em;
}

.post-header-aside .post-meta---ct_cr,
.comment-header-aside .comment-meta---ct_cr
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.apl-post-categories
{
    flex: 1 100%;
}

.post-published-modified
{
    margin-right: -1rem;
}











/*------------------ Content Spacing ------------------*/
.post-content---ct,
.comment---ct_cr > *:not(.note)
{
    font-size: 1.125rem;
}

.note p,
.post-content---ct_cr > p,
.post-content---ct_cr > h1,
.post-content---ct_cr > h2,
.post-content---ct_cr > h3,
.post-content---ct_cr > h4,
.post-content---ct_cr > h5,
.post-content---ct_cr > h6,
.post-content---ct_cr > ul,
.post-content---ct_cr > ol,
.post-content---ct_cr > pre,
.post-content---ct_cr > figure,
.post-content---ct_cr > .cp,
.post-content---ct_cr > div,

.aside > .cr > .ct > .ct_cr
{
    margin: 0;
    margin-top: 1em;
}

.note p:first-of-type,
.post-content---ct_cr > *:first-child,

.aside > .cr > .ct > .ct_cr:first-child
{
    margin-top: 0;
}




/*------------------ Layout Spacing ------------------*/
.main-post-title---h,
.main-content-heading---h,
.published-post-author---cr,
.published-comment-commenter---cr,
.post-pub-mod---cr,
.comment-pub---cr,
.excerpt-link,
.comments---h_l,
.comment---ct_cr > *:not(.note),
.wp-caption-text,
.comment-title---h,
.signed-in-acct---ct_cr,

.comment-form .form-submit,
.commenter-comment-creation-text-input,
.commenter-name-creation-text-input,
.commenter-email-creation-text-input,
.commenter-url-creation-text-input,

.post-content---ct_cr > p,
.post-content---ct_cr > h1,
.post-content---ct_cr > h2,
.post-content---ct_cr > h3,
.post-content---ct_cr > h4,
.post-content---ct_cr > h5,
.post-content---ct_cr > h6,
.post-content---ct_cr > pre,
.post-excerpt---ct_cr > p,

.show-more-axn,

.validity-note,

.post-content .search-term-crt-search .flabel,
.post-content .search-term-crt-search .felem,

.post-content .search-form-search-axn,

.widget:not(.widget_nav_menu) .widget---cr > *:not(ul):not(ol)
{
    padding-left: 1rem;
    padding-right: 1rem;
}


.post-content---ct_cr > ul,
.post-content---ct_cr > ol
{
    padding-right: 1rem;
}

.post-edit-link,
.commenter-name-creation-flabel,
.commenter-email-creation-flabel,
.commenter-url-creation-flabel,
.show-more-axn,
.attachment .post-nav---ct_cr
{
    margin-left: 1rem;
    margin-right: 1rem;
}


.entries .article:first-of-type,
.entry .article,
.post--empty,

.post-meta---cr,
.post-banner-visual,
.comment-crt-hd---h,
.main-footer---cr,

.commenter-com-crt---cr,
.commenter-name-crt---cr,
.commenter-email-crt---cr,
.commenter-url-crt---cr,

.comments-axns-snip---cr,

.page-nav---cr,
.post-content---ct_cr,
.show-more-axn,
.show-more-glabel,
.post-nav---cr,
.comment---ct_cr,
.comment-respond,
.main-content-heading,

.post-content .search-form-axns,
.aside .search-form-axns,

.main-content-header-aside
{
    margin-top: 1rem;
}


.widget,
.comment-form .form-submit,
.main-footer-aside
{
    margin-top: 2rem;
}

.widget:first-of-type
{
    margin-top: 0;
}


.entries .article,
.comment-md---cr,
.entry---fr .entry-nav---cr
{
    padding-top: 4rem;
}


.wp-caption-text
{
    margin-top: .5rem;
    
    color: hsla( 0, 0%, 0%, .65);
    
    font-size: .875rem;
}

.apl-categories a,
.apl-tags a
{
    margin: .125rem;
}

.apl-post-categories,
.apl-post-tags
{
    margin-bottom: -.125rem;
}

.apl-post-categories .post-categories---cr,
.apl-post-tags .post-tags---cr
{
    padding-top: calc( 1rem - .125rem);
}

.apl-post-categories .post-categories---cr,
.apl-post-tags .post-tags---cr
{
    padding-left: calc( 1rem - .125rem);
    padding-right: calc( 1rem - .125rem);
}

.page-nav---cr
{
    margin: calc( 1rem - .5rem);
}

.entries---fr .page-nav---cr
{
    margin-top: calc( 4rem - .5rem);
    margin-bottom: -.5rem;
}



/*------------------ Notes ------------------*/
.comments-empty-note,
.comment-respond .sign-in-required-note,
.comment-unapproved-note,
.commenting-disabled-note
{
    margin: 0 1rem;
    padding: 1rem;
    
    background-color: hsla( 0, 0%, 50%, .0625);
    
    border-radius: .125rem;
}

.note .g_l,
.sign-in-required---line
{
    font-size: .875rem;
}


.post-banner-vis---g
{
    background-image: initial !important;
}

.commenter-name-creation-text-input,
.commenter-email-creation-text-input,
.commenter-url-creation-text-input
{
    margin-top: .5rem;
}

.comments-population--empty.comment-creation-ability--disabled .commenting-disabled-note
{
    margin-bottom: 1rem;
}




.search-results .main-content-heading---h_l
{
    display: flex;
    align-items: center;
}



/*------------------ Comments Count ------------------*/
.search-results-count---txt,
.comments-count---txt
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: .0625em .25em;
    
    min-width: 1em;
    min-height: 1em;
    
    font-weight: bold;
    
    border-radius: .125em;
}

.comments-count---txt
{
    font-size: .875rem;
}







/*------------------ Excerpt ------------------*/
.excerpt-link
{
    display: block;
    
    color: black;
    
    text-decoration: none;
}


/*------------------ Categories ------------------*/
.apl-categories ul,
.apl-tags ul
{
    display: flex;
    flex-wrap: wrap;
    
    font-size: .875rem;
}



/*------------------ Medium AAs ------------------*/
.edit-post-axn---a_l,
.edit-com-axn---a_l,
.apl-categories a,
.apl-tags a
{
    min-height: 2rem;
    
    border-radius: .125rem;
}





/*------------------ Calendar Widget ------------------*/
.widget_calendar tbody td,
.widget_calendar th
{
    padding: .5rem;
}

.widget_calendar caption
{
    padding: 1rem;
}

.widget_calendar #next
{
    text-align: right;
}

.widget_calendar #next a
{
    margin-right: -1rem;
}

.widget_calendar #prev a
{
    margin-left: -1rem;
}